[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
ipykernel = "*"
openpyxl = "*"
xlsxwriter = "*"
matplotlib = "*"
dvc = "*"
dvc-s3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
