---
css: |
  .dashboard .pane {
    --background: 'white';
    --foreground: black;
    color: var(--foreground);
    background: var(--background);
    padding-top: 0em;
    padding: 3rem;
    border-style: var(--border);
    border-width: thin;
    border-color: #bbbbbb;
  }
---

<div class="dashboard pane"
  style="
    {%- if fg %}--foreground: {{ fg }};{% endif -%}
    {%- if bg %}--background: {{ bg }};{% endif -%}
    {%- if border %}border-style: {{ border }}!important;{% endif -%}
  ">
  {{ content | safe }}
</div>