---
css: |
    .panel-quote {
        list-style: none;
        border-style: solid;
        border-width: thin;
        border-color: #bbbbbb;
        padding:2em;
    }

    .panel-quote p {
        font-style: italic;
    }
---
<li class="panel-quote">
  {{ content | safe }}
</li>

