<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{# I use the metas key here so that this is consistent with social media sharing #}}
	<title>{{ title }}{{ if title }} | {{ /if }}{{ metas.site }}</title>
	<link rel="stylesheet" href="/assets/css/fonts.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="icon" href="/assets/images/icon.png" />
	<link rel="alternate" type="application/atom+xml" href="/atom.xml">
	<link rel="stylesheet" href="/style.css">
</head>
<body class="b1-bg">
	<div class="feedback-bg">
		{{ include 'partials/feedback.vto' }}
	</div>

	{{ include 'partials/header.vto' }}
	{{ if build.env == 'dev' -}}
	{{- comp.dev_banner() -}}
	{{- /if }}
	<div class="b6-bg">
		<div class="holder padded tallpadded stack">
		{{ content }}
		</div>
		{{- comp.data_banner() -}}
	</div>


	{{ include 'partials/footer.vto' }}

	<script src="https://open-innovations.org/resources/oi.log.js"></script>
	<script>
	OI.log.setup({'id':'leeds33','target':['open-innovations.github.io', 'culturallearningleeds.com']}).add('action=view');
	</script>
</body>
<!-- Built {{ if build.env }}from {{ build.env }} {{ /if }}on {{ build.date }} -->
</html>
