@charset "utf-8";
/* These are imported by the PostCSS processor. Source is in the `_includes/css` folder */
@import 'css/reset.css';

/*
  All the standard OI stuff is included here.
  Could be modularised, given PostCSS could enable much smaller css packages to be created.
*/
@import 'css/oi.css';
@import 'css/nav.css';

* {
--background-colour: #b2c929;
--header-height: 112px;
}


/*h1, h2, h3, h4, .title {
	letter-spacing: -0.12em;
	font-family: Bungee Hairline;
	font-weight: 400;
	text-shadow: 0.04em 0.04em 0,
	-0.04em 0.04em 0,
	0.04em -0.04em 0,
	-0.04em -0.04em 0,
	0px 0.04em 0,
	0px -0.04em 0,
	-0.04em 0px 0,
	0.04em 0px 0,
	0.02em 0.02em 0,
	-0.02em 0.02em 0,
	0.02em -0.02em 0,
	-0.02em -0.02em 0,
	0px 0.02em 0,
	0px -0.02em 0,
	-0.02em 0px 0,
	0.02em 0px 0,
	0.04em 0.02em 0,
	-0.04em 0.02em 0,
	0.04em -0.02em 0,
	-0.04em -0.02em 0,
	0.02em 0.04em 0,
	-0.02em 0.04em 0,
	0.02em -0.04em 0,
	-0.02em -0.04em 0;
}*/
h1, h2, h3, h4, .title {
	font-family: Titillium Web;
	font-weight: 700;
}

.subtitle {
	font-family: Titillium Web;
	font-weight: 600;
	text-align: center; 
	margin-top: 0.2em; 
	margin-bottom: 1em;
}

* { 
	font-family: Titillium Web;
	font-weight: 600;
}
a {
	text-decoration: none;
}
header { text-align: left; }
header .holder {
	line-height: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2em;
}
footer { padding: 0; }

.text-wrap { border-style: solid; padding: 2em; border-width: thin; border-color: #bbbb; margin: 1em;}

.quote-title { font-style: italic; padding-bottom:1em; font-size:1.2em; padding-top:1em;}

.grid li h2 { font-weight: bold; text-align: center; padding-bottom: 0.5em; }

.head_colour { background: var(--background-colour); color: black!important; border-bottom: groove; border-width: 3px; }


.organisations { list-style: none; margin: 0; display: flex; gap: 2rem; }
.organisations li svg { width: 100%; height: auto; color: #a8b6be; filter: grayscale(1) brightness(2); }
.organisations.supporter li svg { width: 100%; height: 5em; color: #a8b6be; filter: grayscale(1) brightness(2); }
@media only screen and (max-width: 800px) {
	.organisations {
		flex-direction: column;
	}
}

.oi-viz { margin-bottom: 0.5em; }
.oi-viz:last-child { margin-bottom: 1em; }
.oi-viz .tooltip .inner > *:last-child { margin-bottom: 0; }

.oi-dashboard { grid-gap: 0.5rem!important;}
.oi-dashboard  { margin-bottom:2em;}
.oi-dashboard .oi-dashboard-inner { grid-gap: 0.5rem!important;}
.oi-dashboard .panel { display: flex; flex-direction: column; padding: 3em; }
.oi-dashboard .panel h3 { font-size: 1.5em!important; font-weight: normal!important; text-align: center; margin-bottom: 0; }

.oi-legend-inner .oi-legend-icon { float: left; }
.oi-legend-inner { color: inherit!important; }
.oi-legend-inner .oi-legend-item { color: inherit; }

.oi-chart-main { padding-top: 2em; }
.oi-chart-main text { fill: inherit; } 

.oi-legend-item { margin: 0.3em;}
.oi-legend-item.oi-series-on { background: inherit!important; outline: 0.5px solid #bbbbbb!important; }

.oi-table table * { padding-left: 1em; padding-right: 1em; border-width: thin; border-color: #e0dfdf; border-style: solid;}
.oi-table table tr:first-child { background: #171853; color: #ffffff; }
.oi-table table tr:first-child th { padding:0.8em; }



ul .panel { justify-content: normal; }
