@charset "utf-8";
/* These are imported by the PostCSS processor. Source is in the `_includes/css` folder */
@import 'css/reset.css';

/*
  All the standard OI stuff is included here.
  Could be modularised, given PostCSS could enable much smaller css packages to be created.
*/
@import 'css/oi.css';

.oi-viz { margin-bottom: 1em; }
.oi-viz:last-child { margin-bottom: 0; }

.l23-yellow { background: hsl(52, 100%, 50%); color: black!important; }
.l23-magenta { background: hsl(321, 100%, 50%); color: white!important; }
.l23-cyan { background: hsl(173, 65%, 61%); color: black!important; }
.l23-dark { background: hsl(188, 100%, 12%); color: white!important; }