---
title: Cultural Organisations Map 

visualisations:
  map:
    geojson:
      key: "URN"
      data: viz.organisations-map
    data: viz.orgs
    columns:
      - name: "Tooltip label"
        template: "<h3>{{ Name }}</h3><p>Funded by {{ Funding }}</br>Type of engagement: {{ Engagement }} </br>Website: <a href='{{ Website }}' target='_blank'>{{ Website }}</a></br>Address: <br/> {{ Address }}<br/>{{ Postcode }}<br/>"
    key: "URN"
    tooltip: "Tooltip label"
    value: "Funding"
    legend:
      position: top
      items:
        - label: "Leeds City Council"
          value: "Leeds City Council"
          colour: "Leeds City Council"
        - label: "Arts Council England"
          value: "Arts Council England"
          colour: "Arts Council England"
        - label: "Funded by neither organisation"
          value: "Neither"
          colour: "Neither"
        - label: "Funded by both organisations"
          value: "Both"
          colour: "Both"
---

<p>There is a lack of data available on the arts and cultural individuals and organisations engaging with schools in Leeds.</p>

<p>This page presents, for the first time, an overview of how these people and organisations are currently engaging with schools, an description of the type of engagement offered by each organisation and provides contact details for schools to reach out and initiate their own engagement programmes.</p>

<p>The data on this page is indicative only and has been collected through research and analysis of open data sources. If you see any problems with the data on this page, get in touch with us at hello@open-innovations.org.</p>


{{
	comp.oi.dashboard({
		config: {
			data: "viz.organisation-by-funding",
			title: "Funding",
			value: "Number",
			width: "20%",
			panels: [{
				name: "Funded by Leeds City Council",
				colour: "Academy & Free Schools"
			},{
				name: "National Portfolio Organisations",
				colour: "Community"
			},{
				name: "Arts Award Centres",
				colour: "Foundation"
			},{
				name: "NPOs that are Arts Award Centres",
				colour: "Independent"
			},{
				name: "Arts Council funded projects",
				colour: "Independent"
			}]
		}
	}) | safe
}}

<p>Hover over the data points on the map below to view more information on each organisation.</p>

<br>

{{
	comp.oi.map.zoomable({
		config: visualisations.map
	}) | safe
}}

<br/>

<p>The visualisation above presents data on the organisations for which address data was available. Freelance artists, and organisations for which we do not have address information, are mentioned below.</p>

<h2>Cultural Partnerships</h2> 

<p>Pilot survey responses revealed that Leeds schools are actively sign-posting and promoting opportunities for pupils to engage with the arts. Many schools have long-term relationships with cultural partners who deliver a number of programmes including workshops, after-school clubs, music provision, performances, artist meet and greets and arts trips.</p>  

<h2>About the data</h2>

<p><a href="https://raw.githubusercontent.com/open-innovations/leeds-schools-cultural-engagement/b68eca264b6caa8bf2626105af26624b4c659ff1/data/orgs.csv">You can download and explore the raw data here</a>.</p>

<p>The data on this page was included from the following data sources:</p>
<ul>
	<li>Leeds Cultural Education Partnership survey data. <a href="https://open-innovations.github.io/leeds-schools-cultural-engagement/reports/survey/">You can read more about the Survey here</a>. Organisations were included in the dataset if they had been mentioned in the survey by name as having previously engaged with the school.</li>
	<li>Arts Council England <a href="https://www.artscouncil.org.uk/how-we-invest-public-money/2023-26-Investment-Programme/2023-26-investment-programme-data">National Portfolio Organisations</a> & <a href="https://www.artscouncil.org.uk/ProjectGrants/project-grants-data">National Lottery Project Grants</a> data: 21-22, 22-23 and 23-24. Data was filtered by the Leeds region and organisations were removed from the dataset if no online record could be found of their engagements involving children and young people.</li>
	<li>Arts@Leeds (Leeds City Council) funded organisations - dataset shared by Leeds City Council directly. 
</ul> 

<p>There are therefore some limitations to consider when using this data. Organisations have been included in the dataset where evidence of young people and school engagement could be found online. Organisations may not be counted if they have not mentioned their school engagements online and were not mentioned in the survey. Some of the information in the dataset may be out of date or inaccurate - if you know this to be the case, get in touch us and let us know what's missing.