---
title: Schools
visualisations:
  map:
    geojson:
      key: "URN"
      data: viz.school-map
    data: viz.schools
    columns:
      - name: "Tooltip label"
        template: "<h3>{{ Name }}</h3><p>{{ type }}<br />{{ phase_type_grouping }} (ages {{ StatutoryLowAge }}-{{ StatutoryHighAge }})<br />Pupils: {{ total_pupils | toLocaleString() }}<br />Artsmark: {{ artsmark_progress }} {{ most_recent_award }}<br />Artsaward: {{ artsaward }}</p>"
    key: "URN"
    tooltip: "Tooltip label"
    value: "type"
    legend:
      position: top
      items:
        - label: "Academy & Free Schools"
          colour: "Academy & Free Schools"
        - label: "Community"
          colour: "Community"
        - label: "Foundation"
          colour: "Foundation"
        - label: "Independent"
          colour: "Independent"
        - label: "Special Schools"
          colour: "Special Schools"
        - label: "Voluntary"
          colour: "Voluntary"
  ratios:
    data: viz.school-data-ratios
    columns:
      - name: "Academy & Free Schools Tooltip"
        template: "Academy & Free Schools<br />Students: {{ Academy & Free Schools number | toLocaleString() }}<br />Entries: {{ Academy & Free Schools entries | toLocaleString() }}<br />Ratio: {{ Academy & Free Schools ratio | toFixed(2) }}"
      - name: "Community Tooltip"
        template: "Community<br />Students: {{ Community number | toLocaleString() }}<br />Entries: {{ Community entries | toLocaleString() }}<br />Ratio: {{ Community ratio | toFixed(2) }}"
      - name: "Foundation Tooltip"
        template: "Foundation<br />Students: {{ Foundation number | toLocaleString() }}<br />Entries: {{ Foundation entries | toLocaleString() }}<br />Ratio: {{ Foundation ratio | toFixed(2) }}"
      - name: "Independent Tooltip"
        template: "Independent<br />Students: {{ Independent number | toLocaleString() }}<br />Entries: {{ Independent entries | toLocaleString() }}<br />Ratio: {{ Independent ratio | toFixed(2) }}"
      - name: "Special Schools Tooltip"
        template: "Special Schools<br />Students: {{ Special Schools number | toLocaleString() }}<br />Entries: {{ Special Schools entries | toLocaleString() }}<br />Ratio: {{ Special Schools ratio | toFixed(2) }}"
      - name: "Voluntary Tooltip"
        template: "Voluntary<br />Students: {{ Voluntary number | toLocaleString() }}<br />Entries: {{ Voluntary entries | toLocaleString() }}<br />Ratio: {{ Voluntary ratio | toFixed(2) }}"
    legend:
      show: true
      position: top
    category: Category
    series:
      - title: "Academy & Free Schools"
        value: "Academy & Free Schools ratio"
        colour: "Academy & Free Schools"
        tooltip: "Academy & Free Schools Tooltip"
      - title: "Community"
        value: "Community ratio"
        colour: "Community"
        tooltip: "Community Tooltip"
      - title: "Foundation"
        value: "Foundation ratio"
        colour: "Foundation"
        tooltip: "Foundation Tooltip"
      - title: "Independent"
        value: "Independent ratio"
        colour: "Independent"
        tooltip: "Independent Tooltip"
      - title: "Special Schools"
        value: "Special Schools ratio"
        colour: "Special Schools"
        tooltip: "Special Schools Tooltip"
      - title: "Voluntary"
        value: "Voluntary ratio"
        colour: "Voluntary"
        tooltip: "Voluntary Tooltip"
    gap: 0.1
    axis:
      x:
        min: 0
        max: 1
        grid:
          stroke-dasharray: 6 2
          stroke-width: 1
        ticks:
          - value: 0
            label: "0"
          - value: 0.25
            label: "0.25"
          - value: 0.5
            label: "0.5"
          - value: 0.75
            label: "0.75"
          - value: 1
            label: "1"
      y:
        grid:
          stroke-width: 0.5
---

<p>Here is a breakdown of the types of schools in Leeds:</p>


{{
	comp.oi.dashboard({
		config: {
			data: "viz.school-data-by-type",
			title: "Type",
			value: "Number",
			width: "30%",
			panels: [{
				name: "Academy & Free Schools",
				colour: "Academy & Free Schools"
			},{
				name: "Community",
				colour: "Community"
			},{
				name: "Foundation",
				colour: "Foundation"
			},{
				name: "Independent",
				colour: "Independent"
			},{
				name: "Special Schools",
				colour: "Special Schools"
			},{
				name: "Voluntary",
				colour: "Voluntary"
			}]
		}
	}) | safe
}}

<p>Let's show them all on a map:</p>
{{
	comp.oi.map.zoomable({
		config: visualisations.map
	}) | safe
}}

<h2>Title</h2>
<p>Blah.</p>

<h3>ArtsMark percentage by school type</h3>
{{
	comp.oi.chart.bar({
		config: {
			data: "viz.school-data-artsmark",
			columns: [{
				name: "Working towards Tooltip",
				template: "{{ type }}\nWorking towards: {{ working_towards_percent | toFixed(1) }}%"
			},{
				name: "Registered Tooltip",
				template: "{{ type }}\nRegistered: {{ Registered_percent | toFixed(1) }}%"
			},{
				name: "Awarded Tooltip",
				template: "{{ type }}\nAwarded: {{ Awarded_percent | toFixed(1) }}%"
			}],
			category: "type",
			height: 300,
			stacked: true,
			legend: { show: true, position: "top" },
			series: [{
				title: "Working towards",
				value: "working_towards_percent",
				tooltip: "Working towards Tooltip"
			},{
				title: "Registered",
				value: "Registered_percent",
				tooltip: "Registered Tooltip"
			},{
				title: "Awarded",
				value: "Awarded_percent",
				tooltip: "Awarded Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>Arts Award percentage by school type</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.school-data-artsaward",
			columns: [{
				name: "Tooltip",
				template: "{{ type }}\nArts Award: {{ Percentage of schools of this type signed up for Arts Award | toFixed(1) }}%"
			}],
			category: "type",
			height: 300,
			stacked: true,
			legend: { show: true, position: "top" },
			series: [{
				title: "Percent",
				value: "Percentage of schools of this type signed up for Arts Award",
				tooltip: "Tooltip",
				colour: "type"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>Creative subject entries in KS4 / KS5</h3>

{{
	comp.oi.chart.scatter({
		config: {
			data: "viz.school-data-creative-entries",
			height: 600,
			columns: [{
				name: "Tooltip",
				template: "<p class=\"subtitle\">{{ school_name }}</p><p>{{ type }}\nNumber of pupils (KS4/5): {{ total_KS4_KS5_pupils | toLocaleString() }}\nNumber of creative entries: {{ total_creative_subject_entered | toLocaleString() }}</p>"
			}],
			series: [{
				title: "Creative entries",
				x: "total_KS4_KS5_pupils",
				y: "total_creative_subject_entered",
				colour: "type",
				tooltip: "Tooltip",
				points: { size: 10 }
			}],
			axis: {
				x: {
					grid: {show:true,"stroke-width": 1},
					title: {label: "Total KS4/5 pupils"},
					tickSpacing: 200
				},
				y: {
					grid: {show:true,"stroke-width": 0.5},
					title: {label:"Creative subject entries"},
					tickSpacing: 200
				}
			}
		}
	}) | safe
}}

{#
	comp.oi.chart.bar({
		config: visualisations.ratios
	}) | safe
#}
