---
title: Schools cultural engagement
config:
  geojson:
    key: "URN"
    data: viz.school-map
  data: viz.schools
  columns:
    - name: "Tooltip label"
      template: "<h3>{{ Name }}</h3><p>{{ phase_type_grouping }}<br />Pupils: {{ total_pupils | toLocaleString() }}</p>"
  key: "URN"
  tooltip: "Tooltip label"
  value: "total_pupils"
  scale: "Viridis"
---

{{
  comp.oi.map.zoomable({
    config: config
  }) | safe
}}

<pre>
{{ config | dump(2) }}
</pre>