---
title: Schools & Creative Engagement
visualisations:
  map:
    geojson:
      key: "URN"
      data: viz.school-map
    data: viz.schools
    columns:
      - name: "Tooltip label"
        template: "<h3>{{ Name }}</h3><p>{{ type }}<br />{{ phase_type_grouping }} (ages {{ StatutoryLowAge }}-{{ StatutoryHighAge }})<br />Pupils: {{ total_pupils | toLocaleString() }}<br />Artsmark: {{ artsmark_progress }} {{ most_recent_award }}<br />Artsaward: {{ artsaward }}</p>"
    key: "URN"
    tooltip: "Tooltip label"
    value: "type"
    legend:
      position: top
      items:
        - label: "Academy & Free Schools"
          colour: "Academy & Free Schools"
        - label: "Community"
          colour: "Community"
        - label: "Foundation"
          colour: "Foundation"
        - label: "Independent"
          colour: "Independent"
        - label: "Special Schools"
          colour: "Special Schools"
        - label: "Voluntary"
          colour: "Voluntary"
  fsm:
    geojson:
      key: "URN"
      data: viz.school-map
    data: viz.schools
    columns:
      - name: "Tooltip label"
        template: "<h3>{{ Name }}</h3><p>{{ type }}<br />{{ phase_type_grouping }} (ages {{ StatutoryLowAge }}-{{ StatutoryHighAge }})<br />Pupils: {{ total_pupils | toLocaleString() }}<br />Artsmark: {{ artsmark_progress }} {{ most_recent_award }}<br />Artsaward: {{ artsaward }}<br/>Percentage of pupils eligible for free school meals: {{ %_pupils_eligible_FSMs | toFixed(1) }}%<br>Number of creative subjects entered: {{ total_creative_subject_entered }}"
    key: "URN"
    tooltip: "Tooltip label"
    value: "%_pupils_eligible_FSMs"
    scale: "Viridis"
    min: 0
    max: 70
    legend:
      position: top
      items:
        - label: "&lt;10%"
          value: 10
        - label: "&lt;20%"
          value: 20
        - label: "&lt;30%"
          value: 30        
        - label: "&lt;40%"
          value: 40
        - label: "&lt;50%"
          value: 50
        - label: "&lt;60%"
          value: 60
---

<p>This page provides an overview of the schools in Leeds and their engagements with arts and culture. The headlines below show the number of schools in Leeds of each type.</p>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.school-data-by-type",
			title: "Type",
			value: "Number",
			width: "30%",
			panels: [{
				name: "Academy & Free Schools",
				colour: "Academy & Free Schools"
			},{
				name: "Community",
				colour: "Community"
			},{
				name: "Foundation",
				colour: "Foundation"
			},{
				name: "Independent",
				colour: "Independent"
			},{
				name: "Special Schools",
				colour: "Special Schools"
			},{
				name: "Voluntary",
				colour: "Voluntary"
			}]
		}
	}) | safe
}}

<p>Hover over the data points on the map below to view more information on each school.</p>
<br>

{{
	comp.oi.map.zoomable({
		config: visualisations.map
	}) | safe
}}

<h2>Schools Overview</h2>
<p>The visualisations on this page present a picture of the types of schools in Leeds, and to understand how they are engaging with arts and culture.</p>


{{
	comp.oi.dashboard({
		config: {
			data: "viz.school-overview-headlines",
			title: "Headlines",
			value: "Percent",
			width: "30%",
			note: "Note",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Academy & Free Schools",
				colour: "Academy & Free Schools"
			},{
				name: "ArtsMark",
				colour: "ArtsMark"
			},{
				name: "Arts Award",
				colour: "Arts Award"
			}]
		}
	}) | safe
}}




<h3>ArtsMark percentage by school type</h3>
<p>ArtsMark is the creative quality standard for schools and education providers in England, accredited by Arts Council England. The visualisation below shows the schools in Leeds that have been awarded, or are working towards, the <a href="https://www.artsmark.org.uk/">ArtsMark award</a>.</p> 
<br>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.school-data-artsmark",
			columns: [{
				name: "Working towards Tooltip",
				template: "{{ type }}\nWorking towards: {{ working_towards_percent | toFixed(1) }}%"
			},{
				name: "Registered Tooltip",
				template: "{{ type }}\nRegistered: {{ Registered_percent | toFixed(1) }}%"
			},{
				name: "Awarded Tooltip",
				template: "{{ type }}\nAwarded: {{ Awarded_percent | toFixed(1) }}%"
			}],
			category: "type",
			height: 300,
			width: 950,
			stacked: true,
			legend: { show: true, position: "top" },
			series: [{
				title: "Working towards",
				colour: 'Working towards',
				value: "working_towards_percent",
				tooltip: "Working towards Tooltip"
			},{
				title: "Registered",
				colour: 'Registered',
				value: "Registered_percent",
				tooltip: "Registered Tooltip"
			},{
				title: "Awarded",
				colour: 'Awarded',
				value: "Awarded_percent",
				tooltip: "Awarded Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 40,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>Arts Award percentage by school type</h3>
<p>The visualisation below shows a breakdown of schools in Leeds that provide an <a href="https://www.artsaward.org.uk/site/">Arts Award</a> offering to young people. Arts Award is a suite of arts-based qualifications available to young people aged 25 and under. It is managed by Trinity College London and Arts Council England.</p>
<br>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.school-data-artsaward",
			columns: [{
				name: "Tooltip",
				template: "{{ type }}\nArts Award: {{ Percentage of schools of this type signed up for Arts Award | toFixed(1) }}%"
			}],
			category: "type",
			height: 300,
			width: 950,
			stacked: true,
			legend: { show: true, position: "top" },
			series: [{
				title: "Percent",
				value: "Percentage of schools of this type signed up for Arts Award",
				tooltip: "Tooltip",
				colour: "type"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 45,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}


<h3>Creative subject entries in KS4 / KS5 (coloured by school type)</h3>
<p>The chart below explores the relationship between the size, type and number of students enrolled in creative subjects at GCSE level. Hover over the data points to view information about each school.</p>
<p>In the chart, you would expect that the number of students enrolled in creative subjects is greater in larger schools. There is an overall positive trend, however some schools are obvious outliers. There must therefore be some other factors that influence the uptake of creative subjects by students in schools. We have started some initial exploration of this data below.</p>
<br><br>

{{
	comp.oi.chart.scatter({
		config: {
			data: "viz.school-data-creative-entries",
			height: 500,
			width: 950,
			columns: [{
				name: "Tooltip",
				template: "<p class=\"subtitle\">{{ school_name }}</p><p>{{ type }}\nNumber of pupils (KS4/5): {{ total_KS4_KS5_pupils | toLocaleString() }}\nNumber of creative entries: {{ total_creative_subject_entered | toLocaleString() }}</p>"
			}],
			series: [{
				title: "Creative entries",
				x: "total_KS4_KS5_pupils",
				y: "total_creative_subject_entered",
				colour: "type",
				tooltip: "Tooltip",
				points: { size: 10 }
			}],
			legend: { show: false },
			axis: {
				x: {
					grid: {show:true,"stroke-width": 1},
					title: {label: "Total KS4/5 pupils"},
					tickSpacing: 200
				},
				y: {
					grid: {show:true,"stroke-width": 0.5},
					title: {label:"Creative subject entries"},
					tickSpacing: 200
				}
			}
		}
	}) | safe
}}

<h3>Creative subject entries in KS4 / KS5 (coloured by ArtsMark)</h3>
<p>The chart below explores the relationship between the size, creative subject offering and ArtsMark accreditation of schools in Leeds. Hover over the data points to view information about each school. Whilst the chart shows that some schools with ArtsMark accreditation have a higher take-up of creative subjects, this is not always the case.</p>
<br>
{{
	comp.oi.chart.scatter({
		config: {
			data: "viz.school-data-creative-entries",
			height: 500,
			width: 950,
			columns: [{
				name: "Tooltip",
				template: "<p class=\"subtitle\">{{ school_name }}</p><p>Involved in ArtsMark: {{ artsmark }}\nNumber of pupils (KS4/5): {{ total_KS4_KS5_pupils | toLocaleString() }}\nNumber of creative entries: {{ total_creative_subject_entered | toLocaleString() }}</p>"
			}],
			series: [{
				title: "Creative entries",
				x: "total_KS4_KS5_pupils",
				y: "total_creative_subject_entered",
				tooltip: "Tooltip",
				colour: "artsmark",
				points: { size: 10 }
			}],
			legend: { show: false },
			axis: {
				x: {
					grid: {show:true,"stroke-width": 1},
					title: {label: "Total KS4/5 pupils"},
					tickSpacing: 200
				},
				y: {
					grid: {show:true,"stroke-width": 0.5},
					title: {label:"Creative subject entries"},
					tickSpacing: 200
				}
			}
		}
	}) | safe
}}


<h2>Social factors & arts provision</h2>

<p>The section below begins to explore some of the demographic and regional factors that may influence a school's creative offering for students. This information may give an indication of where organisations could focus their efforts to engage more with schools in underserved regions of Leeds. Many arts providers have a commitment to engage with children and young people from all demographics, and could use this type of data to inform their approach. <a href="https://open-innovations.github.io/leeds-schools-cultural-engagement/reports/organisations/">Learn more about the cultural organisations involved in this study</a>.</p>

<p>The map below shows the schools in Leeds, scaled by the percentage of pupils that are eligible for free school meals. Lighter coloured markers have a higher percentage of eligible students. Hover over the polygons to view more information on each school, such as their ArtsMark award status and number of creative subject entries.</p>

<p>This study serves as a pilot for a future phase of work to explore these relationships in more detail. The data presented here is therefore indicative only - read more about how we have processed the data in the section below.</p>

{{
	comp.oi.map.zoomable({
		config: visualisations.fsm
	}) | safe
}}


<h2>About the data on this page</h2>

<p>Data sources used on this page:</p>
<ul>
	<li>Data Mill North:</li>
	<ul>
		<li><a href="https://datamillnorth.org/dataset/primary-school-allocations">Primary school allocations</a>.</li>
		<li><a href="https://datamillnorth.org/dataset/secondary-school-allocations">Secondary school allocations</a>.</li>
	</ul>
	<li>Department for Education:</li>
	<ul>
		<li><a href="https://explore-education-statistics.service.gov.uk/find-statistics/school-pupils-and-their-characteristics">School pupils and their characteristics</a>.</li>
	</ul>
</ul>

<p>While school type can be broken down into much more granular detail, we have made a decision to group schools in the above broad categories so that we can understand our data better. These buckets are:</p>
<ul>
	<li><strong>Academy & Free Schools:</strong> Includes any Academy School, whether it is a converter or sponsor led, and any free school. It also includes University Technical College Leeds, based on <a href="https://www.gov.uk/types-of-school/free-schools">DfE guidance</a>. It will not include any special schools as these are kept separate.</li>
	<li><strong>Foundation Schools:</strong> All Foundation Schools. There are no sub-types of Foundation schools included in DfE data.</li>
	<li><strong>Community Schools:</strong> All community schools. There are no sub-types of Community Schools included in DfE data.</li>
	<li><strong>Voluntary Schools:</strong> All voluntary schools, regardless of whether they are voluntary controlled or voluntary aided schools.</li>
	<li><strong>Special Schools:</strong> All local authority supported Special School, regardless of governance model.</li>
	<li><strong>Independent Schools:</strong> Any Independent school – regardless of whether they are also Special or Alternative Provision schools.</li>
</ul>

<p>Arts Mark data:</p>
<ul>
	<li><a href="https://www.artsmark.org.uk/current-settings">Arts Mark: Current Settings</a>.</li>
</ul>

<p><a href="https://github.com/open-innovations/leeds-schools-cultural-engagement">You can download and explore the raw data behind these visualisations here</a>.</p>

<h2>Where next?</h2>

<p>The data presented on this page comes from a pilot project, delivered by the <a href="https://artformsleeds.co.uk/networks/leeds-cultural-education-partnership/about-lcep/">University of Leeds</a>, that aims to validate the approach to data collection and school engagement for a future phase of work. This page could be developed in future to visualise a richer dataset of schools in Leeds, broken down further by each school's characteristics and cultural engagement.</p>

<p>Improving the accuracy of this dataset will allow for schools, local authorities, and arts organisations to inform their strategy and funding priorities, as well as enabling collaboration with the cultural sector. We therefore encourage anyone with an interest in the sector to reach out and take part in the next phase of work by contacting the project lead, Dr Briony Thomas, <a href="mailto:b.g.thomas@leeds.ac.uk">b.g.thomas@leeds.ac.uk</a>.</p>


