---
title: Survey summary
---

<p>Response rates to the survey of <a href="/reports/schools/">schools in Leeds</a>.</p>


{{
	comp.oi.dashboard({
		config: {
			data: "viz.survey-response-rate",
			title: "Type",
			value: "Percent",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Primary schools",
				colour: "Primary"
			},{
				name: "Secondary schools",
				colour: "Secondary"
			},{
				name: "Academy & Free Schools",
				colour: "Academy & Free Schools"
			}]
		}
	}) | safe
}}

<p>Optional explanatory text goes here... Introducing survey results below and/or putting headline figures in context</p>


<h2>Responses</h2>

<h3>By school phase</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-phase",
			height: 250,
			columns: [{
				name: "Tooltip",
				template: "{{ School phase }}: {{ Percentage of this type of school responding | toFixed(1) }}% responded"
			}],
			category: "School phase",
			series: [{
				title: "Percentage of this type of school responding",
				value: "Percentage of this type of school responding",
				tooltip: "Tooltip",
				colour: "School phase"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}


<h3>By school type</h3>
{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-type",
			height: 300,
			columns: [{
				name: "Tooltip",
				template: "{{ School type }}: {{ Percentage of this type of school responding | toFixed(1) }}% responded"
			}],
			category: "School type",
			series: [{
				title: "Percentage of this type of school responding",
				value: "Percentage of this type of school responding",
				tooltip: "Tooltip",
				colour: "School type"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>By school size</h3>
{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-size",
			height: 200,
			columns: [{
				name: "Tooltip",
				template: "{{ School size }}: {{ Percentage of this school size responding | toFixed(1) }}% responded"
			}],
			category: "School size",
			series: [{
				title: "Percentage of this school size responding",
				value: "Percentage of this school size responding",
				tooltip: "Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>By trust status</h3>
{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-trust",
			height: 200,
			columns: [{
				name: "Tooltip",
				template: "{{ Type }}: {{ Percentage of this type of school responding | toFixed(1) }}% responded"
			}],
			category: "Type",
			series: [{
				title: "Percentage of this type of school responding",
				value: "Percentage of this type of school responding",
				tooltip: "Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>By ArtsMark</h3>
{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-artsmark",
			height: 200,
			columns: [{
				name: "Tooltip",
				template: "{{ ArtsMark }}: {{ Percentage | toFixed(1) }}% responded"
			}],
			category: "ArtsMark",
			series: [{
				title: "Percentage",
				value: "Percentage",
				tooltip: "Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>By Arts Award Centres</h3>
{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-artsaward",
			height: 200,
			columns: [{
				name: "Tooltip",
				template: "{{ Arts Award Centres }}: {{ Percentage | toFixed(1) }}% responded"
			}],
			category: "Arts Award Centres",
			series: [{
				title: "Percentage",
				value: "Percentage",
				tooltip: "Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}




<h3>Overall, how would you rate your school's arts curriculum offer?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-rate-school-arts-offer",
			height: 300,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Rating }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Rating }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Rating }}<br />Secondary: {{ Secondary (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Rating",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>How would you rate your school's extra-curricular and arts enrichment offer?</h3>



{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-rate-school-extra-curricula-offer",
			height: 300,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Rating }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Rating }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Rating }}<br />Secondary: {{ Secondary (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Rating",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Does your school provide non-curriculum based arts activities that pupils can participate in?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-rate-school-non-curriculum-activities",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Activity }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Activity }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Activity }}<br />Secondary: {{ Secondary (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Activity",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>What is your job role?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-job-role",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Role }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Role }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Role }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Role }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Role }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Role",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3> Does your school have a particular commitment(s) to pupil entitlement in the arts?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-commitment-pupil-entitlement",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Academy & Free Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}




<h3>Does your school attract additional funding for arts curriculum or enrichment activity?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-additional-funding",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Where does your school attract funding from?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-funding-source",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Does your school enter pupils into any competitions, platforms or showcases, whether that is at a local, community, regional or national level?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-pupil-competition",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Does your school actively sign-post opportunities for pupils to develop creative skills and participate in arts opportunities beyond the curriculum?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-creative-skills-opportunities",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Do any of your school’s governors work in the arts or creative industries?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-governors-arts-creative",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Does your school have a governor with a dedicated remit for the arts and creative education?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-governor-dedicated-arts-remit",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Does your school have... Tick all that apply</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-does-school-have",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Do pupils have access to use these facilities outside of formal extra-curricular activities and lessons unsupervised?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-pupil-access-unsupervised",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>How would you rate your school’s extra-curricular and arts enrichment offer?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-rate-arts-enrichment-offer",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Rating }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Rating }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Rating }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Rating }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Rating }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Rating",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Do you supply musical instruments?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-musical-instruments",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Are the music lessons (individual or group) run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-music-lessons-teachers-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Are the orchestras, ensembles or bands run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-orchestras-bands-teachers-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Are the choirs or vocal ensembles run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-choirs-vocal-ensembles-teacher-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Are the dance groups run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-dance-groups-teachers-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Are the drama groups run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-drama-groups-teachers-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Are the D&T groups run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-dt-groups-teachers-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Are the digital media groups run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-digital-media-groups-teachers-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Are the art groups run by the school/teachers OR external providers that come into the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-art-groups-teachers-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Teacher vs external teaching breakdown:</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-teacher-or-external-breakdown",
			height: 600,
			columns: [{
				name: "Music Tooltip",
				template: "{{ Response }}<br />Music: {{ Music (%) }}%"
			},{
				name: "Orchestra Tooltip",
				template: "{{ Response }}<br />Orchestra: {{ Orchestra (%) }}%"
			},{
				name: "Choirs / Vocal Ensemble Tooltip",
				template: "{{ Response }}<br />Choirs / Vocal Ensemble: {{ Choirs / Vocal Ensemble (%) }}%"
			},{
				name: "Dance Tooltip",
				template: "{{ Response }}<br />Dance: {{ Dance (%) }}%"
			},{
				name: "Drama Tooltip",
				template: "{{ Response }}<br />Drama: {{ Drama (%) }}%"
			},{
				name: "D&T Tooltip",
				template: "{{ Response }}<br />D&T: {{ D&T (%) }}%"
			},{
				name: "Digital Media Tooltip",
				template: "{{ Response }}<br />Digital Media: {{ Digital Media (%) }}%"
			},{
				name: "Art Groups Tooltip",
				template: "{{ Response }}<br />Art Groups: {{ Art Groups (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Music",
				value: "Music (%)",
				colour: "Overall",
				tooltip: "Music Tooltip"
			},{
				title: "Orchestra",
				value: "Orchestra (%)",
				colour: "Primary",
				tooltip: "Orchestra Tooltip"
			},{
				title: "Choirs / Vocal Ensemble",
				value: "Choirs / Vocal Ensemble (%)",
				colour: "Secondary",
				tooltip: "Choirs / Vocal Ensemble Tooltip"
			},{
				title: "Dance",
				value: "Dance (%)",
				colour: "Special Schools",
				tooltip: "Dance Tooltip"
			},{
				title: "Drama",
				value: "Drama (%)",
				colour: "Other",
				tooltip: "Drama Tooltip"
			},{
				title: "D&T",
				value: "D&T (%)",
				colour: "External Providers",
				tooltip: "D&T Tooltip"
			},{
				title: "Digital Media",
				value: "Digital Media (%)",
				colour: "Schools/Teachers",
				tooltip: "Digital Media Tooltip"
			},{
				title: "Art Groups",
				value: "Art Groups (%)",
				colour: "Art Groups",
				tooltip: "Art Groups Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Does your school offer an Arts Award?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-arts-award",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Are any of your teachers qualified as Arts Award Advisors OR do you partner with a local organisation?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-arts-award-teacher-or-external",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Does your school have an arts council or school council focused on the arts?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-musical-instruments",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3> In academic year 2021/22, did your school invite organisations or creative practitioners into the school to deliver arts performances or workshops?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-21-22-arts-performances",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>What are the subject areas of the organisations or creative practitioners that are invited into school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-subject-area-orgs-or-practitioners-invited-to-perform",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Does your school take pupils on arts trips outside the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-art-trips",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Typically, how are your school's arts trips funded?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-funding-arts-trips",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Which of the following did you undertake in academic year 2021/22?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-academic-year-21-22",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Trips by Location</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-trips-by-location",
			height: 600,
			columns: [{
				name: "Theatre Tooltip",
				template: "{{ Response }}<br />Theatre: {{ Theatre (%) }}%"
			},{
				name: "Concerts Tooltip",
				template: "{{ Response }}<br />Concerts: {{ Concerts (%) }}%"
			},{
				name: "Cinema Tooltip",
				template: "{{ Response }}<br />Cinema: {{ Cinema (%) }}%"
			},{
				name: "Gallery Tooltip",
				template: "{{ Response }}<br />Gallery: {{ Gallery (%) }}%"
			},{
				name: "Dance",
				template: "{{ Response }}<br />Dance: {{ Dance (%) }}%"
			},{
				name: "Museum Tooltip",
				template: "{{ Response }}<br />Museum: {{ Museum (%) }}%"
			},{
				name: "Heritage Tooltip",
				template: "{{ Response }}<br />Heritage: {{ Heritage (%) }}%"
			},{
				name: "Gaming Tooltip",
				template: "{{ Response }}<br />Gaming: {{ Gaming (%) }}%"
			},{
				name: "Library",
				template: "{{ Response }}<br />Library: {{ Library (%) }}%"
			},{
				name: "Community",
				template: "{{ Response }}<br />Community: {{ Community (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Theatre",
				value: "Theatre (%)",
				colour: "Theatre",
				tooltip: "Theatre Tooltip"
			},{
				title: "Concerts",
				value: "Concerts (%)",
				colour: "Concerts",
				tooltip: "Concerts Tooltip"
			},{
				title: "Cinema",
				value: "Cinema (%)",
				colour: "Cinema",
				tooltip: "Cinema Tooltip"
			},{
				title: "Gallery",
				value: "Gallery (%)",
				colour: "Gallery",
				tooltip: "Gallery Tooltip"
			},{
				title: "Dance",
				value: "Dance (%)",
				colour: "Dance",
				tooltip: "Dance Tooltip"			
			},{
				title: "Museum",
				value: "Museum (%)",
				colour: "Museum",
				tooltip: "Museum Tooltip"
			},{
				title: "Heritage",
				value: "Heritage (%)",
				colour: "Heritage",
				tooltip: "Heritage Tooltip"
			},{
				title: "Gaming",
				value: "Gaming (%)",
				colour: "Gaming",
				tooltip: "Gaming Tooltip"
			},{
				title: "Library",
				value: "Library (%)",
				colour: "Library",
				tooltip: "Library Tooltip"
			},{
				title: "Community",
				value: "Community (%)",
				colour: "Community",
				tooltip: "Community Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}




<h3>Regarding access, diversity, and inclusion – does your school experience any barriers or challenges in encouraging, recruiting, or gaining permissions for pupils to go on trips out of school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-inclusion-barriers-permission-trips-out",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}




<h3>Regarding access, diversity, and inclusion – does your school experience any barriers or challenges with the experience or facilities at host venues when taking pupils on trips out of the school?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-inclusion-barriers-host-venues-trips",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Is your school part of any national programmes delivered by arts institutions or organisations?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-national-programmes",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Does your school have a partnership with any local arts organisations, i.e. a relationship with an organisation that the school has worked with over a number of years?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-local-partnerships",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Does your school have a partnership with any other local schools to support the arts curriculum?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-local-school-partnership",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Is your school part of any local/community-based arts programmes?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-community-arts-programmes",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Are there any other arts programmes or projects your school has been a part of that you haven’t mentioned yet?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-other-arts-programmes-not-mentioned",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Are you able to find arts delivery partners who reflect or understand the diversity of your pupils?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-arts-partners-pupil-diversity",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}




<h3>Does your school give pupils opportunities to engage with professionals or practitioners in the arts?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-pupil-engagement-arts-professionals",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}



<h3>Does your school have someone able to give specialist advice on career pathways into the arts?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-advice-arts-career-pathways",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Do you hold data on the number of your pupils who progress on to study arts subjects in further or higher education?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-data-arts-further-higher-education",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h3>Does your school support teachers’ CPD in arts subjects?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-teacher-arts-cpd",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


