---
title: Survey summary
---

{% comp 'figure', { min_width: "100%" } %}
<p>This research serves to address the lack of data currently available on schools’ engagement with the arts in Leeds. A baseline understanding of how schools currently engage with local cultural organisations is needed to inform cultural strategy and funding priorities. It will support evaluation of the legacy of the LEEDS 2023 programme of activities across the city and will support other cultural organisations to perform their own evaluations and benchmarking activities.</p>
<p>A pilot survey was sent to members of the senior leadership team at every school in Leeds, designed to collect data about schools’ arts curriculum and extra-curricular delivery of arts and cultural activities. This will act as a pilot to gauge response and validate the approach and methodology for a future phase of work.</p>
<p>Key findings from the survey responses are presented on this page, based on responses from 34 of the 293 schools included within the study.</p>
<p>The headline statistics below refer to the headline findings from the survey responses provided.</p>
{% endcomp %}

{{
	comp.oi.dashboard({
		config: {
			data: "viz.headline-stats",
			title: "Headlines",
			value: "Percent",
			note: "Note",
			width: "30%",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Arts commitment",
				colour: "Primary"
			},{
				name: "Additional funding",
				colour: "Secondary"
			},{
				name: "Local arts partnerships",
				colour: "Through"
			},{
				name: "Local schools partnerships",
				colour: "16+"
			},{
				name: "Sign-posting opportunities",
				colour: "Drama"
			},{
				name: "Local arts programmes",
				colour: "Music"
			}]
		}
	}) | safe
}}
<p>The visualisations below provide a more detailed breakdown of survey responses. They give an insight into how schools in Leeds are engaging with arts and culture, their facilities and approaches to funding for schools wishing to engage with other organisations.</p>


{% comp 'figure', { min_width: "100%" } %}
{% comp 'contents' %}
{% endcomp %}
{% endcomp %}

<h2 id="Responses">Responses</h2>

<h3>Overview of Respondents</h3>

<p>The responding schools can be described in a number of ways, as visualised below.  Based on this sample size, it is not possible to say that the findings represent the whole population of schools in Leeds. This information is therefore presented to indicate the range of schools who did respond.</p>

<p>Of the 34 schools used in this analysis:</p>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.survey-response-rate-phase",
			title: "School phase",
			value: "Percent",
			width: "30%",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Primary",
				colour: "Primary"
			},{
				name: "Secondary",
				colour: "Secondary"
			},{
				name: "Through",
				colour: "Through"
			}]
		}
	}) | safe
}}


<h3>Responses by school type</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-type",
			height: 300,
			columns: [{
				name: "Tooltip",
				template: "{{ School type }}: {{ Percentage of this type of school responding | toFixed(1) }}% responded"
			}],
			category: "School type",
			series: [{
				title: "Percentage of this type of school responding",
				value: "Percentage of this type of school responding",
				tooltip: "Tooltip",
				colour: "School type"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 40,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>By school size</h3>
{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-size",
			height: 200,
			columns: [{
				name: "Tooltip",
				template: "{{ School size }}: {{ Percentage of this school size responding | toFixed(1) }}% responded"
			}],
			category: "School size",
			series: [{
				title: "Percentage of this school size responding",
				value: "Percentage of this school size responding",
				tooltip: "Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 40,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>By Artsmark</h3>
<p>The percentage of survey respondents who have been awarded, or who are working towards, an <a href="https://www.artsmark.org.uk/">Artsmark award</a>.</p>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-artsmark",
			height: 200,
			columns: [{
				name: "Tooltip",
				template: "{{ ArtsMark }}: {{ Percentage | toFixed(1) }}% responded"
			}],
			category: "ArtsMark",
			series: [{
				title: "Percentage",
				value: "Percentage",
				tooltip: "Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 60,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h3>By Arts Award Centres</h3>
<p>The percentage of survey respondents who are registered as an <a href="https://www.artsaward.org.uk/site/">Arts Award centre</a>.</p>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-by-artsaward",
			height: 200,
			columns: [{
				name: "Tooltip",
				template: "{{ Arts Award Centres }}: {{ Percentage | toFixed(1) }}% responded"
			}],
			category: "Arts Award Centres",
			series: [{
				title: "Percentage",
				value: "Percentage",
				tooltip: "Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 40,
					grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
					ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
				},
				y: {
					grid: {"stroke-width": 0.5}
				}
			}
		}
	}) | safe
}}

<h2 id="Arts">Arts Provision in Schools</h2> 


<h3>Commitment to the arts</h3>

<p>The headlines below describe the responses given by staff when asked about their school's commitment to pupil entitlement in the arts. For example, every pupil learns a musical instrument, or has the opportunity to go on trips each year. 

{{
	comp.oi.dashboard({
		config: {
			data: "viz.arts-commitment-headlines",
			title: "Headlines",
			value: "Percent",
			note: "Note",
			width: "30%",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Overall",
				colour: "Primary"
			},{
				name: "Primary schools",
				colour: "Secondary"
			},{
				name: "Secondary schools",
				colour: "Through"
			}]
		}
	}) | safe
}}

<p>Primary schools were three times more likely to report that they had a particular commitment. However, when asked about their school's arts curriculum, secondary schools were more likely to consider their school's offering as 'Excellent'.</p>

<h3>How would you rate your school's arts curriculum offer?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-rate-school-arts-offer",
			height: 300,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Rating }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Rating }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Rating }}<br />Secondary: {{ Secondary (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Rating",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<p>Secondary schools were also more likely to report their extra-curricular offering as 'Good'.</p>

<h3>How would you rate your school's extra-curricular and arts enrichment offer?</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-rate-school-extra-curricula-offer",
			height: 300,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Rating }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Rating }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Rating }}<br />Secondary: {{ Secondary (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Rating",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

	{{
		comp.oi.dashboard({
			config: {
				data: "viz.sign-posting-headlines",
				title: "Headlines",
				value: "Percent",
				note: "Note",
				width: "40%",
				units: {
					postfix: "Units"
				},
				panels: [{
					name: "Arts opportunities",
					colour: "Drama"
				},{
					name: "Competitions & showcases",
					colour: "Dance"
				}]
			}
		}) | safe
	}}

<p>Schools are therefore actively promoting involvement with art and culture and sign-posting students to organisations and opportunities outside their normal curriculum.</p>


<h2 id="Practitioners">External Practitioners</h2> 

<p>Survey responses showed that schools in Leeds actively seek out opportunities to partner with local cultural organisations.<a href="https://open-innovations.github.io/leeds-schools-cultural-engagement/reports/organisations/"> Learn more about partnership organisations</a>.</p>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.external-practitioners-headlines",
			title: "Headlines",
			value: "Percent",
			note: "Note",
			width: "30%",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Primary schools",
				colour: "Primary"
			},{
				name: "Secondary schools",
				colour: "Secondary"
			},{
				name: "Special schools",
				colour: "Special"
			}]
		}
	}) | safe
}}

<p>Partnership organisations offer a range of services, including workshops in the schools, after school clubs, music provision, performances in schools, meeting artists, trips for performances.</p>

<h4>External practitioners offered programmes across many artforms...</h4>
</br>

{% comp "grid.autogrid", { columns: 5 } %}

  {% comp "grid.block.impact", {
    fg: "white",
    bg: "#440d54"
  } %}
    <p>Music</p>
  {% endcomp %}

    {% comp "grid.block.impact", {
    fg: "white",
    bg: "#277d8e"
  } %}
    <p>Theatre</p>
  {% endcomp %}

    {% comp "grid.block.impact", {
    fg: "white",
    bg: "#20a387"
  } %}
    <p>Dance</p>
  {% endcomp %}


  {% comp "grid.block.impact", {
    fg: "white",
    bg: "#238a8d"
  } %}
    <p>Museums/Heritage</p>
  {% endcomp %}

    {% comp "grid.block.impact", {
    fg: "white",
    bg: "#2d708e"
  } %}
    <p>Art</p>
  {% endcomp %}

  {% endcomp %}

</br>
<p>Overall, <strong>2 in 3 schools</strong> said that they invited organisations and creative practitioners into their school to deliver arts performances and workshops - 75% of primary schools, and 40% of secondary schools. The subject areas of these organisations are broken down below. Practitioners were mostly brought into schools for <strong>theatre, music and dance</strong> programmes. Regular <strong>music and dance groups</strong> were most often delivered by external providers.</p> 

<h3>Subject areas of the organisations and creative practitioners engaging with schools:</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-subject-area-orgs-or-practitioners-invited-to-perform",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Local partnerships:</h3>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.local-partnerships-headlines",
			title: "Headlines",
			value: "Percent",
			note: "Note",
			width: "30%",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Local arts organisations",
				colour: "Primary"
			},{
				name: "School partnerships",
				colour: "Secondary"
			},{
				name: "Local community arts programmes",
				colour: "Special"
			}]
		}
	}) | safe
}}






<h2 id="Facilities">Facilities</h2>

<p><strong>1 in 5 schools said they do not have access to any arts or creative facilities</strong>. Most schools that responded to the survey have access to a music room and theatre or hall space with some production facilities. <strong>80%</strong> of secondary schools had access to an art studio compared with only <strong>1 in 5</strong> primary schools, or <strong>1 in 3</strong> special schools.</p> 

<p>The majority of both primary (92%) and secondary (70%) schools provide musical intruments, if they offer lessons.</p>

<h3>Schools indicated that they have the following facilities:</h3> 

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey-response-does-school-have",
			height: 600,
			columns: [{
				name: "Overall Tooltip",
				template: "{{ Response }}<br />Overall: {{ Overall (%) }}%"
			},{
				name: "Primary Tooltip",
				template: "{{ Response }}<br />Primary: {{ Primary (%) }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Response }}<br />Secondary: {{ Secondary (%) }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Response }}<br />Special School: {{ Special School (%) }}%"
			},{
				name: "Other",
				template: "{{ Response }}<br />Other: {{ Other (%) }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Response",
			series: [{
				title: "Overall",
				value: "Overall (%)",
				colour: "Overall",
				tooltip: "Overall Tooltip"
			},{
				title: "Primary",
				value: "Primary (%)",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary (%)",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School (%)",
				colour: "Special Schools",
				tooltip: "Special School Tooltip"
			},{
				title: "Other",
				value: "Other (%)",
				colour: "Other",
				tooltip: "Other Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}


<h2 id="Funding">Funding & Support</h2> 


<p>The section below provides an overview of the survey responses when school staff were asked about the funding and support they have accessed to enable arts and enrichment activities in their school.</p>

<p><strong>1 in 4 schools</strong> reported that they attract additional funding for arts curriculum and enrichment activities. Funding sources are broken down by school type below.</p>

<h3>Funding sources for provision of art curriculum and enrichment activity:</h3>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.funding-source-headlines",
			title: "Headlines",
			value: "Percent",
			note: "Note",
			width: "25%",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Trusts and foundations",
				colour: "Primary"
			},{
				name: "Leeds City Council",
				colour: "Secondary"
			},{
				name: "Fundraising events or activities",
				colour: "Special"
			}]
		}
	}) | safe
}}
{{
	comp.oi.dashboard({
		config: {
			data: "viz.funding-source-headlines",
			title: "Headlines",
			value: "Percent",
			note: "Note",
			width: "40%",
			units: {
				postfix: "Units"
			},
			panels: [{
				name: "Parents",
				colour: "Drama"
			},{
				name: "Other sources",
				colour: "Music"
			}]
		}
	}) | safe
}}

