---
title: Survey Responses Academic Year 2022/23
---

{% comp 'figure', { min_width: "100%" } %}

<p>A pilot survey was sent to members of the senior leadership team at every school in Leeds in 2023, designed to collect data about schools’ arts curriculum and extra-curricular delivery of arts and cultural activities. The pilot intended to gauge response and validate the approach and methodology for this second phase of work.</p>

<p>Key findings from the second phase of survey responses are presented on this page, based on responses from 53 of the 293 schools included within the study, seeing an increased response rate after the pilot study.</p>

{% endcomp %}

<h2>Headlines</h2>

<p>The headline statistics below refer to the headline findings from the survey responses provided.</p>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.survey.phase_2.headlines",
			value: "Value",
			title: 'Title',
			width: "20%",
            note: 'Note',
			units: {
				postfix: "Suffix"
			},
			panels: [{
				name: "Arts curriculum",
				colour: "Primary"
			},{
				name: "Arts entitlement",
				colour: "Secondary"
			},{
				name: "Additional arts funding",
				colour: "Special"
			},{
				name: "Signposting",
				colour: "Through"
			},{
				name: "Extra-curricular offering",
				colour: "Secondary"
			},{
				name: "Arts award",
				colour: "Through"
			},{
				name: "External practitioners",
				colour: "Primary"
			},{
				name: "Local partnerships",
				colour: "Special"
			}]
		}
	}) | safe
}}

{% comp 'figure', { min_width: "100%" } %}
{% comp 'contents' %}
{% endcomp %}
{% endcomp %}


<h2 id="Reponses">Overview of Respondents</h2>

<p>The headlines below represent the breakdown of survey respondents by school type. Of the 53 schools used in this analysis:</p>


{{
	comp.oi.dashboard({
		config: {
			data: "viz.survey.phase_2.by_school_type",
			title: "3_school_type",
			value: "percent_respondents",
			width: "20%",
            note: 'notes',
			units: {
				postfix: "unit"
			},
			panels: [{
				name: "Primary",
				colour: "Primary"
			},{
				name: "Secondary",
				colour: "Secondary"
			},{
				name: "Special School",
				colour: "Special"
			},{
				name: "Through School",
				colour: "Through"
			}]
		}
	}) | safe
}}


{# <ul class="grid" style="grid-template-columns: repeat( 2, minmax(0, 1fr)); padding-top:2em;"> #}

		<h3>Responses by school type</h3>
            {{
                comp.oi.chart.bar({
                    config: {
                        data: "viz.survey.phase_2.by_school_type",
                        height: 250,
                        width: 600,
                        columns: [{
                            name: "Tooltip",
                            template: "{{ 3_school_type }}: {{ percent_respondents | toFixed(1) }}% responded"
                        }],
                        category: "3_school_type",
                        series: [{
                            title: "Percentage of this type of school responding",
                            value: "percent_respondents",
                            tooltip: "Tooltip",
                            colour: "3_school_type"
                        }],
                        gap: 0.1,
                        axis: {
                            x: {
                                min: 0,
                                max: 100,
                                grid: {"stroke-dasharray": [6,2],"stroke-width": 1},
                                ticks: [{value: 0,label: "0"},{value: 20,label: "20%"},{value: 40,label: "40%"},{value: 60,label: "60%"},{value: 80,label: "80%"},{value: 100,label: "100%"}]
                            },
                            y: {
                                grid: {"stroke-width": 0.5}
                            }
                        }
                    }
                }) | safe
            }}

<h2 id="Arts">Arts Provision in Schools</h2> 

<h3>Commitment to the arts</h3>

<p>The headlines below describe the responses given by staff when asked about their school's commitment to pupil entitlement in the arts. For example, every pupil learns a musical instrument, or has the opportunity to go on trips each year. 

<p>These figures refer to the percentage of total responses <strong>from each school type</strong>, who said their school has a commitment to pupil entitlement in the arts.</p>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.survey.phase_2.06_pupil_arts_entitlement",
			title: "School Type",
			value: "Yes",
			width: "20%",
			units: {
				postfix: "suffix"
			},
			panels: [{
				name: "Primary",
				colour: "Primary"
			},{
				name: "Secondary",
				colour: "Secondary"
			},{
				name: "Special School",
				colour: "Special School"
            },{
				name: "Through School",
				colour: "Through School"
			}]
		}
	}) | safe
}}


<ul class="grid" style="grid-template-columns: repeat( 2, minmax(0, 1fr)); padding-top:2em;">

<li>
	<h3>How would you rate your school's arts curriculum offer?</h3>
	 {{
		comp.oi.chart.bar({	
			config: {
				data: "viz.survey.phase_2.05_overall_rating_arts_offer",
				height: 400,
				width: 700,
				legend: { show: true, position: "top" },
				category: "Rating",
				series: [{
					"title": "Primary",
					"value": "Primary"
				},{
					"title": "Secondary",
					"value": "Secondary"
				},{
					"title": "Special School",
					"value": "Special School"
				},{
					"title": "Through School",
					"value": "Through School"
				}],
				gap: 0.1,
				axis: {
					x: {
						min: 0,
						max: 100,
						grid: {
							"stroke-dasharray": [6,2],
							"stroke-width": 1
						},
						ticks: [{
							value: 0,
							label: "0"
						},{
							value: 20,
							label: "20%"
						},{
							value: 40,
							label: "40%"
						},{
							value: 60,
							label: "60%"
						},{
							value: 80,
							label: "80%"
						},{
							value: 100,
							label: "100%"
						}]
					},
					y: {
						grid: {
							"stroke-width": 0.5
						}
					}
				}
			}
		}) | safe
	}}
	</li>

	<li>
	<h3>How would you rate your school's extra-curricular and arts enrichment offer?</h3>
	 {{
		comp.oi.chart.bar({	
			config: {
				data: "viz.survey.phase_2.14_rating_extra_curricular_arts_enrichment_offering",
				height: 400,
				width: 700,
				legend: { show: true, position: "top" },
				category: "Rating",
				series: [{
					"title": "Primary",
					"value": "Primary"
				},{
					"title": "Secondary",
					"value": "Secondary"
				},{
					"title": "Special School",
					"value": "Special School"
				},{
					"title": "Through School",
					"value": "Through School"
				}],
				gap: 0.1,
				axis: {
					x: {
						min: 0,
						max: 100,
						grid: {
							"stroke-dasharray": [6,2],
							"stroke-width": 1
						},
						ticks: [{
							value: 0,
							label: "0"
						},{
							value: 20,
							label: "20%"
						},{
							value: 40,
							label: "40%"
						},{
							value: 60,
							label: "60%"
						},{
							value: 80,
							label: "80%"
						},{
							value: 100,
							label: "100%"
						}]
					},
					y: {
						grid: {
							"stroke-width": 0.5
						}
					}
				}
			}
		}) | safe
	}}
</li>
</ul> 

	{{
		comp.oi.dashboard({
			config: {
				data: "viz.survey.phase_2.signposting_headlines",
				title: "Headlines",
				value: "Value",
				note: "Note",
				width: "40%",
				units: {
					postfix: "Suffix"
				},
				panels: [{
					name: "Signposting beyond the curriculum",
					colour: "Drama"
				},{
					name: "Competitions & Showcases",
					colour: "Dance"
				}]
			}
		}) | safe
	}}


<h2 id="Practitioners">External Practitioners</h2> 

{{
	comp.oi.dashboard({
		config: {
			data: "viz.survey.phase_2.external_partnerships_headlines",
			title: "Headlines",
			value: "Value",
			note: "Note",
			width: "30%",
			units: {
				postfix: "Suffix"
			},
			panels: [{
				name: "Partnerships",
				colour: "Primary"
			},{
				name: "Delivering activities",
				colour: "Secondary"
			},{
				name: "School partnerships",
				colour: "Through School"
			}]
		}
	}) | safe
}}

<h3>Subject areas of the organisations and creative practitioners engaging with schools:</h3>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey.phase_2.subject_areas_headlines",
			height: 600,
			columns: [{
				name: "Primary Tooltip",
				template: "{{ Subject Area }}<br />Primary: {{ Primary }}%"
			},{
				name: "Secondary Tooltip",
				template: "{{ Subject Area }}<br />Secondary: {{ Secondary }}%"
			},{
				name: "Special School Tooltip",
				template: "{{ Subject Area }}<br />Special School: {{ Special School }}%"
			},{
				name: "Through School Tooltip",
				template: "{{ Subject Area }}<br />Through School: {{ Through School }}%"
			}],
			legend: { show: true, position: "top" },
			category: "Subject Area",
			series: [{
				title: "Primary",
				value: "Primary",
				colour: "Primary",
				tooltip: "Primary Tooltip"
			},{
				title: "Secondary",
				value: "Secondary",
				colour: "Secondary",
				tooltip: "Secondary Tooltip"
			},{
				title: "Special School",
				value: "Special School",
				colour: "Special School",
				tooltip: "Special School Tooltip"
			},{
				title: "Through School",
				value: "Through School",
				colour: "Through School",
				tooltip: "Through School Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 100,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					},{
						value: 80,
						label: "80%"
					},{
						value: 100,
						label: "100%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}

<h3>Community Programmes:</h3>

{{
	comp.oi.dashboard({
		config: {
			data: "viz.survey.phase_2.community_programs_headlines",
			title: "Headlines",
			value: "Value",
			note: "Note",
			width: "45%",
			units: {
				postfix: "Suffix"
			},
			panels: [{
				name: "Community-based arts programmes",
				colour: "Primary"
			},{
				name: "National arts programmes",
				colour: "Secondary"
			}]
		}
	}) | safe
}}


<h2 id="Facilities">Facilities</h2>

{{
	comp.oi.chart.bar({
		config: {
			data: "viz.survey.phase_2.arts_facilities",
			height: 600,
			columns: [{
				name: "Primary School Tooltip",
				template: "{{ 13_arts_facilities }}<br/>Primary: {{ Primary School }}%"
			},{
				name: "Secondary School Tooltip",
				template: "{{ 13_arts_facilities }}<br/>Secondary: {{ Secondary School }}%"
			},{
				name: "Special School School Tooltip",
				template: "{{ 13_arts_facilities }}<br/>Special School: {{ Special School }}%"
			},{
				name: "Through School School Tooltip",
				template: "{{ 13_arts_facilities }}<br/>Through School: {{ Through School }}%"
			}],
			legend: { show: true, position: "top" },
			category: "13_arts_facilities",
			series: [{
				title: "Primary School",
				value: "Primary School",
				colour: "Primary",
				tooltip: "Primary School Tooltip"
			},{
				title: "Secondary School",
				value: "Secondary School",
				colour: "Secondary",
				tooltip: "Secondary School Tooltip"
			},{
				title: "Special School",
				value: "Special School",
				colour: "Special School",
				tooltip: "Special School Tooltip"
			},{
				title: "Through School",
				value: "Through School",
				colour: "Through School",
				tooltip: "Through School Tooltip"
			}],
			gap: 0.1,
			axis: {
				x: {
					min: 0,
					max: 60,
					grid: {
						"stroke-dasharray": [6,2],
						"stroke-width": 1
					},
					ticks: [{
						value: 0,
						label: "0"
					},{
						value: 20,
						label: "20%"
					},{
						value: 40,
						label: "40%"
					},{
						value: 60,
						label: "60%"
					}]
				},
				y: {
					grid: {
						"stroke-width": 0.5
					}
				}
			}
		}
	}) | safe
}}