<a
  href='{{ url }}'
  title='Download {{ title }} dataset'
  class='icon-link'
  tabindex='0'
>
    <img
      src="/assets/images/icons/file-download.svg"
      class="icon-link"
      inline>
</a>