---
title: City of Leeds
---
{% from 'macros.njk' import dateFormatterNoYear as dateFormatter %}

{% comp "grid.autogrid", { columns: 1 } %}

<div class="holder padded">
<p>
  The visualisations on this page present a picture of life in Leeds for young people, and the opportunities that exist for them to engage with arts and culture. We are using open data to support evidence-based policy decisions by answering questions such as - how many young people are there in Leeds, and where is there a greater proportion of young people across the city? Where are the creative hotspots, with creative practitioners who are able to offer engagement activities with schools and young people? Where are the schools in Leeds that have the best offering of creative curriculum and enrichment activities? Explore the data below.
</p>
<p><strong>
  This page is still under development. If you have any comments on the data below, <a href="https://forms.office.com/e/yycfqGLkSb">get in touch with us</a>. 
</strong></p>
</div>

{% endcomp %} 

{% comp "grid.autogrid", { columns: 1 } %}

{{
	comp.oi.dashboard({
		config: {
			data: "viz.dashboard.headlines",
			title: "headline",
			value: "value",
			width: "30%",
			panels: [{
				name: "Leeds population",
				colour: "UoL-blue"
			},{
				name: "Schools in Leeds",
				colour: "UoL-green"
      },{
				name: "School age population",
				colour: "UoL-purple"
			}]
		}
	}) | safe
}}

{{
	comp.oi.dashboard({
		config: {
			data: "viz.dashboard.headlines",
			title: "headline",
			value: "value",
			width: "40%",
			panels: [{
				name: "Projected population 2025 - all ages",
				colour: "UoL-blue"
			},{
				name: "Projected population 2025 - school age",
				colour: "UoL-green"
			}]
		}
	}) | safe
}}
{% endcomp %}

  <h2 class="underline">Populations of Leeds</h2>

  {% comp "grid.autogrid", { columns: 1 } %}
  {% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}
  <div class="text-panel">
    To understand life for young people in Leeds, we are starting to bring together various open data sources that represent the populations of Leeds and where they are spread out across the city. The visualisations below represent the wards in Leeds where there is a greater population of young people, as well as the wards experiencing greater levels of deprivation. These factors give us an indication of the barriers young people might be facing to accessing creative education. 
  </div>
  {% endcomp %}
  {% endcomp %}

  {% comp "grid.autogrid", { columns: 2 } %}

  {% comp "dashboard.panel", { bg: "#104454", fg: 'white' }%}
		<h2>Population of young people by ward</h2>
		<p>This map represents the percentage of people in each ward whom are under 19 years old. Darker colours indicate areas with a greater proportion of young people.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.ward_level_population,
				matchKey: 'ward_code',
        scale: 'rgb(210, 224, 229) 0%, rgb(67, 129, 151) 100%',
        min: 10,
        max: 35,
        "legend": {
          "position": "top",
          "items": [{
              "value": 0,
              "label": "0%",
              "colour": '#ffffff'
            },{
              "value": 5,
              "label": "5%",
              "colour": '#e8eff1'
            },{
              "value": 10,
              "label": "10%"
            },{
              "value": 15,
              "label": "15%"
            },{
              "value": 20,
              "label": "20%"
            },{
              "value": 25,
              "label": "25%"
            }]
        },
        value: 'Percentage of population under 19',
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ Percentage of population under 19 }}%</strong>'
			}
		}) | safe }}
  {% endcomp %}

  {% comp "dashboard.panel", { bg: "#104454", fg: 'white' }%}
		<h2>Indices of multiple deprivation by Leeds ward</h2>
		<p>The indices of multiple deprivation, by Leeds ward. Darker colours reflect areas of higher deprivation.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.imd_by_ward,
				matchKey: 'WD24CD',
				value: 'imd_decile',
        scale: 'rgb(67, 129, 151) 0%, rgb(210, 224, 229) 100%',
        min: 0,
        max: 8,
        "legend": {
          "position": "top",
          "items": [{
              "value": 0,
              "label": "Highest Deprivation"
            },{
              "value": 10,
              "label": "Lowest Deprivation"
            }]
        },
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ imd_decile }}</strong>'
			}
		}) | safe }}
  {% endcomp %}

  {% endcomp %}

  <h2 class="underline">School Engagement</h2>

  {% comp "grid.autogrid", { columns: 1 } %}
  {% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}
  <div class="text-panel">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  {% endcomp %}
  {% endcomp %}

  {% comp "grid.autogrid", { columns: 2 } %}

  {% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}
  	<h2>Schools offering Arts Award</h2>
    <p>
      The number of schools in Leeds that offer an Arts Award, by ward. This data includes schools that offered an Arts Award as of 2022/23 academic year. 
    </p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.arts_award_schools_by_ward,
				matchKey: 'ward_code',
        scale: 'rgb(210, 224, 229) 0%, rgb(67, 129, 151) 100%',
        "legend": {
          "position": "top",
          "items": [{
              "value": 15,
              "label": "15"
            },{
              "value": 12,
              "label": "12"
            },{
              "value": 9,
              "label": "9"
            },{
              "value": 6,
              "label": "6"
            },{
              "value": 3,
              "label": "3"
            },{
              "value": 0,
              "label": "0"
            }]
        },
        min: 0,
        max: 17,
				value: 'count_schools',
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ count_schools }}</strong>'
			}
		}) | safe }}

  {% endcomp %}

  {# TODO #}
  {% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}
  	<h2>Arts Award centres</h2>
    <p>
      The Arts Award centres by ward who are known to have engaged with schools and young people as part of their activities. Darker colours indicate there are more organisations in that ward.
    </p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.arts_award_leeds,
				matchKey: 'ward_code',
        scale: 'rgb(210, 224, 229) 0%, rgb(67, 129, 151) 100%',
        "legend": {
          "position": "top",
          "items": [{
              "value": 5,
              "label": "5"
            },{
              "value": 4,
              "label": "4"
            },{
              "value": 3,
              "label": "3"
            },{
              "value": 2,
              "label": "2"
            },{
              "value": 1,
              "label": "1"
            },{
              "value": 0,
              "label": "0"
            }]
        },
        min: 0,
        max: 5,
				value: 'count_orgs',
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ count_orgs }}</strong>'
			}
		}) | safe }}

  {% endcomp %}
  {% endcomp %}

  {% comp "grid.autogrid", { columns: 1 } %}

  {% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}
  	<h2>Schools awarded Artsmark</h2>
		<p>This map represents the state-funded schools in each ward that have been awarded Artsmark accreditation. This figure does not include schools that are working towards their award.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.artsmark_by_ward,
        width: 500,
				matchKey: 'ward_code',
        scale: 'rgb(210, 224, 229) 0%, rgb(67, 129, 151) 100%',
        "legend": {
          "position": "top",
          "items": [{
              "value": 2,
              "label": "2"
            },{
              "value": 1,
              "label": "1"
            },{
              "value": 0,
              "label": "0"
            }]
        },
        min: 0,
        max: 2,
				value: 'count_schools',
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ count_schools }}</strong>'
			}
		}) | safe }}

  {% endcomp %}
  {% endcomp %}


  <h2 class="underline">Cultural organisations in Leeds</h2>

  {% comp "grid.autogrid", { columns: 1 } %}
  {% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}
  <div class="text-panel">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  {% endcomp %}
  {% endcomp %}

  {% comp "grid.autogrid", { columns: 2 } %}

      {% comp "dashboard.panel", { bg: "#104454", fg: 'white' }%}
		<h2>Cultural organisations by ward</h2>
		<p>The cultural organisations with addresses in each ward - there are 7 organisations in our dataset that were not assigned to a ward. Darker colours indicate areas where more cultural organisations are based.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.organisations_by_ward,
				matchKey: 'ward_code',
        scale: 'rgb(210, 224, 229) 0%, rgb(67, 129, 151) 100%',
        "legend": {
          "position": "top",
          "items": [{
              "value": 50,
              "label": "50"
            },{
              "value": 40,
              "label": "40"
            },{
              "value": 30,
              "label": "30"
            },{
              "value": 20,
              "label": "20"
            },{
              "value": 10,
              "label": "10"
            },{
              "value": 0,
              "label": "0"
            }]
        },
        min: 0,
        max: 50,
				value: 'count_orgs',
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ count_orgs }}</strong>'
			}
		}) | safe }}
  {% endcomp %}

      {% comp "dashboard.panel", { bg: "#104454", fg: 'white' }%}
		<h2>Leeds City Council funded organisations</h2>
		<p>The organisations in each ward that have been awarded funding as part of the Leeds Cultural Investment Programme. Darker colours represent areas where more grants were awarded.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.lcip_funded_orgs_by_ward,
				matchKey: 'ward_code',
				value: 'organisations',
        scale: 'rgb(210, 224, 229) 0%, rgb(67, 129, 151) 100%',
        "legend": {
          "position": "top",
          "items": [{
              "value": 20,
              "label": "20"
            },{
              "value": 15,
              "label": "15"
            },{
              "value": 10,
              "label": "10"
            },{
              "value": 5,
              "label": "5"
            },{
              "value": 0,
              "label": "0"
            }]
        },
        min: 0,
        max: 15,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ organisations }}</strong>'
			}
		}) | safe }}
  {% endcomp %}

  {% endcomp %}


<h2 class = "underline">Creative Subject Entries</h2>
{% comp "grid.autogrid", { columns: 1 } %}
{% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}
<div class="text-panel">
The data below explores the students who enter for creative subjects at GCSE and A Level. We want to understand how these trends change over time at a national level and how the attitudes of young people in Leeds compare with the national picture.
</div>
{% endcomp %}
{% endcomp %}

{% comp "grid.autogrid", { columns: 1 } %}

{% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}

<h3>National GCSE Subject Entries</h3>

{{ comp.oi.chart.line({ config: {
    data: viz.dashboard.subject_entries_all_gcse,
    width: 950,
    height: 600,
    series: [
      {
        title: 'Art & design subjects',
        x: "year",
        y: 'Art & design subjects',
        colour: '#ffffff'
      },
      {
        title: 'Biology',
        x: "year",
        y: 'Biology',
        colour: '#51deee'
      },
      {
        title: 'Business studies',
        x: "year",
        y: 'Business studies',
        colour: '#fde725'
      },
      {
        title: 'Chemistry',
        x: "year",
        y: 'Chemistry',
        colour: '#f734ed'
      },
      {
        title: 'Computing',
        x: "year",
        y: 'Computing',
        colour: '#25f52c'
      }
    ],
    legend: {
      show: true
    },
    axis: {
      x: {
        title: {
          label: 'Date'
        },
        tick: {
          spacing: 2
        },
        min:2017,
        max:2023
      },
      y: {
        grid: {
          show: true,
          'stroke-width': 0.5
        },        
        title: {
          label: "Subject entries"
        },
        tick: { 
          spacing: 20000
        },
        min:0,
        max: 250000
      }
    }
  } }) | safe }}
  <p>
    The young people opting for arts and creative subjects at GCSE level has plateaued, and began to decline in the last two years relative to other subjects such as Business Studies.
  </p>
  
  {% endcomp %} 

  {% endcomp %} 

{% comp "grid.autogrid", { columns: 1 } %}


{% comp "dashboard.panel", { bg: '#104454', fg: 'white' }%}


<h3>National A Level Subject Entries</h3>

{{ comp.oi.chart.line({ config: {
    data:viz.dashboard.subject_entries_all_a_level,
    width: 950,
    height: 600,
    series: [
      {
        title: 'Art & design subjects',
        x: "year",
        y: 'Art & design subjects',
        colour: '#ffffff'
      },
      {
        title: 'Biology',
        x: "year",
        y: 'Biology',
        colour: '#51deee'
      },
      {
        title: 'Business studies',
        x: "year",
        y: 'Business studies',
        colour: '#fde725'
      },
      {
        title: 'Chemistry',
        x: "year",
        y: 'Chemistry',
        colour: '#f734ed'
      },
      {
        title: 'Computing',
        x: "year",
        y: 'Computing',
        colour: '#25f52c'
      }
    ],
    legend: {
      show: true
    },
    axis: {
      x: {
        title: {
          label: 'Date'
        },
        tick: {
          spacing: 2
        },
        min:2017,
        max:2023
      },
      y: {
        grid: {
          show: true,
          'stroke-width': 0.5
        },        
        title: {
          label: "Subject entries"
        },
        tick: { 
          spacing: 10000
        },
        min:0,
        max: 80000
      }
    }
  } }) | safe }}
    <p>
    The young people opting for arts and creative subjects at A level has stayed roughly the same.
  </p>
  {% endcomp %}
  {% endcomp %}


<div class='limitations'>
  <h3>Known Limitations & Issues</h3> 
    <ul>
      <li>This dashboard is under development and may not be accurate or up to date.</li>
    </ul>
</div>