---
title: City of Leeds


---

{% from 'macros.njk' import dateFormatterNoYear as dateFormatter %}


<p><strong>This page is under development. Styling and data may be missing or incorrect.</strong></p> 

{% comp "grid.autogrid", { columns: 1 } %}


{{
	comp.oi.dashboard({
		config: {
			data: "viz.dashboard.headlines",
			title: "headline",
			value: "value",
			width: "30%",
			panels: [{
				name: "Leeds population",
				colour: "UoL-blue"
			},{
				name: "Schools in Leeds",
				colour: "UoL-green"
      },{
				name: "School age population",
				colour: "UoL-purple"
			}]
		}
	}) | safe
}}

{{
	comp.oi.dashboard({
		config: {
			data: "viz.dashboard.headlines",
			title: "headline",
			value: "value",
			width: "40%",
			panels: [{
				name: "Projected population 2025 - all ages",
				colour: "UoL-blue"
			},{
				name: "Projected population 2025 - school age",
				colour: "UoL-green"
			}]
		}
	}) | safe
}}
{% endcomp %}

  <h2>Creative engagement for young people in Leeds</h2>

  {% comp "grid.autogrid", { columns: 2 } %}

  {% comp "dashboard.panel", { bg: "#125164", fg: 'white', columns: 2 }%}
  <div class="text-panel">
  The maps below are beginning to paint a picture of the areas where young people are best served - or underserved - in terms of opportunities for creative engagement. We are beginning to answer questions such as - where is there a greater proportion of young people across the city? Where are the creative practitioners based, and where are the schools with the best offering for creative education? Explore the data below. 
  </div>
  {% endcomp %}
  {% endcomp %}

  {% comp "grid.autogrid", { columns: 2 } %}

  {% comp "dashboard.panel", { bg: "#125164", fg: 'white' }%}
		<h2>Population of young people by ward</h2>
		<p>This map represents the percentage of people in each ward whom are under 19 years old. Lighter colours indicate areas with a greater proportion of young people.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.ward_level_population,
				matchKey: 'ward_code',
				value: 'Percentage of population under 19',
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ Percentage of population under 19 }}%</strong>'
			}
		}) | safe }}
  {% endcomp %}

    {% comp "dashboard.panel", { bg: "#125164", fg: 'white' }%}
		<h2>Number of cultural organisations by ward</h2>
		<p>This map represents the number of cultural organisations with addresses in each ward. There are 6 cultural organisations in our dataset that were not assigned to a ward. Lighter colours indicate areas where more cultural organisations are based.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.organisations_by_ward,
				matchKey: 'ward_code',
				value: 'count_orgs',
        min: 0,
        max: 40,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ count_orgs }}</strong>'
			}
		}) | safe }}
  {% endcomp %}

  {% comp "dashboard.panel", { bg: "#125164", fg: 'white' }%}
		<h2>Indices of multiple deprivation by Leeds ward</h2>
		<p>This map represents the indices of multiple deprivation, by Leeds ward. Darker colours reflect areas of higher deprivation.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.imd_by_ward,
				matchKey: 'WD24CD',
				value: 'imd_decile',
        min: 0,
        max: 10,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ imd_decile }}</strong>'
			}
		}) | safe }}
  {% endcomp %}

    {% comp "dashboard.panel", { bg: "#125164", fg: 'white' }%}
		<h2>Leeds City Council - funded organisations</h2>
		<p>This map represents the organisations that have been awarded funding as part of the Leeds Cultural Investment Programme.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.dashboard.lcip_funded_orgs_by_ward,
				matchKey: 'ward_code',
				value: 'organisations',
        min: 0,
        max: 20,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ organisations }}</strong>'
			}
		}) | safe }}
  {% endcomp %}
  {% endcomp %}


<h2>Creative Subject Entries</h2>
{% comp "grid.autogrid", { columns: 1 } %}
{% comp "dashboard.panel", { bg: '#125164', fg: 'white' }%}
<div class="text-panel">
The data below explores the number of students who enter for creative subjects at GCSE and A Level. We want to understand how these trends change over time at a national level and how the attitudes of young people in Leeds compare with the national picture.
</div>
{% endcomp %}

{% comp "dashboard.panel", { bg: '#125164', fg: 'white' }%}

<h3>National GCSE Subject Entries</h3>
{{ comp.oi.graph.line({ config: {
    categories: viz.dashboard.subject_entries_all_gcse.columns.year,
    width: 30,
    height: 13,
    padding: { left: 4 },
    series: [
      {
        label: 'Art & design subjects',
        yValues: viz.dashboard.subject_entries_all_gcse.columns['Art & design subjects'],
        markerOptions: { s: 5 },
        colour: 'white'
      },
      {
        label: 'Biology',
        yValues: viz.dashboard.subject_entries_all_gcse.columns['Biology'],
        markerOptions: { s: 5 },
        colour: '#b463cc'
      },
      {
        label: 'Business studies',
        yValues: viz.dashboard.subject_entries_all_gcse.columns['Business studies'],
        markerOptions: { s: 5 },
        colour: '#b2c929'
      },
      {
        label: 'Chemistry',
        yValues: viz.dashboard.subject_entries_all_gcse.columns['Chemistry'],
        markerOptions: { s: 5 },
        colour: '#20a387'
      },
      {
        label: 'Computing',
        yValues: viz.dashboard.subject_entries_all_gcse.columns['Computing'],
        markerOptions: { s: 5 },
        colour: '#fde725'
      }
    ],
    xAxis: {
      title: 'Year',
      majorTick: 1,
      colour: 'white'
    },
    plotArea: {
      yMax: 250000,
      colour: 'white'
    },
    yAxis: {
      title: 'Number of student entries',
      titleOffset: 3.5,
      majorTick: 50000,
      formatter: dateFormatter,
      colour: 'white'
    },
    legend: {
      position: 'top',
      direction:'horizontal'
    }, 
    line: {
        "stroke-dasharray": [6,2]
    }
  } }) | safe }}
  <p>
    The number of young people opting for arts and creative subjects at GCSE level has plateaued, and began to decline in the last two years relative to other subjects such as Business Studies.
  </p>
  {% endcomp %}



{% comp "dashboard.panel", { bg: '#125164', fg: 'white' }%}

<h3>National A Level Subject Entries</h3>
{{ comp.oi.graph.line({ config: {
    categories: viz.dashboard.subject_entries_all_a_level.columns.year,
    width: 30,
    height: 13,
    padding: { left: 4 },
    series: [
      {
        label: 'Art & design subjects',
        yValues: viz.dashboard.subject_entries_all_a_level.columns['Art & design subjects'],
        markerOptions: { s: 5 },
        colour: 'white'
      },
      {
        label: 'Biology',
        yValues: viz.dashboard.subject_entries_all_a_level.columns['Biology'],
        markerOptions: { s: 5 },
        colour: '#b463cc'
      },
      {
        label: 'Business studies',
        yValues: viz.dashboard.subject_entries_all_a_level.columns['Business studies'],
        markerOptions: { s: 5 },
        colour: '#b2c929'
      },
      {
        label: 'Chemistry',
        yValues: viz.dashboard.subject_entries_all_a_level.columns['Chemistry'],
        markerOptions: { s: 5 },
        colour: '#20a387'
      },
      {
        label: 'Computing',
        yValues: viz.dashboard.subject_entries_all_a_level.columns['Computing'],
        markerOptions: { s: 5 },
        colour: '#fde725'
      }
    ],
    xAxis: {
      title: 'Year',
      majorTick: 1,
      colour: 'white'
    },
    plotArea: {
      yMax: 100000,
      colour: 'white'
    },
    yAxis: {
      title: 'Number of student entries',
      titleOffset: 3.5,
      majorTick: 50000,
      formatter: dateFormatter,
      colour: 'white'
    },
    legend: {
      position: 'top',
      direction:'horizontal'
    }, 
    line: {
        "stroke-dasharray": [6,2]
    }
  } }) | safe }}
    <p>
    The number of young people opting for arts and creative subjects at A level has stayed roughly the same.
  </p>
  {% endcomp %}
  {% endcomp %}



<div class='holder padded'>
  <h3>Known Limitations & Issues<h3> 
    <ul>
      <li>This dashboard is under development and may not be accurate or up to date.</li>
    </ul>
</div>