---
title: Survey Summary
---



<ul class="grid" style ="grid-template-columns: repeat( 2, minmax(0, 1fr));">
	<li><a href="/survey/pilot/" class="l23-light-blue">
		<h2>Academic Year 2021/22</h2>
		<p>A breakdown of responses to the pilot survey covering 2021/22.</p>
	</a></li>
	<li><a href="/survey/phase-2/" class="l23-light-purple">
		<h2>Academic Year 2022/23</h2>
		<p>Responses to the Phase 2 survey covering academic year 2022/23.</p>
	</a></li>
</ul>