---
title: LEEDS 2023 Legacy
---
{% from 'macros.njk' import dateFormatterNoYear as dateFormatter %}

<div class="holder padded">

<p >
  LEEDS 2023 worked across all 33 wards of the city and engaged with a wide range of participants across Leeds. The programme was designed to be as representative and inclusive as possible. The data and visualisations displayed on this page are drawn from the LEEDS 2023 Data Microsite, reflecting the impact and legacy of the programme by highlighting the ways in which LEEDS 2023 engaged with children and young people in Leeds. By doing this, we aim to advocate for the value of this and other similar cultural programmes, demonstrating how young people have been enriched by the programme.  
</p>

</div>

{% comp "grid.autogrid", { columns: 1 } %}


{{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.headlines",
			title: "title",
			value: "value",
			width: "20%",
			panels: [{
				name: "Unique schools",
				colour: "UoL-purple"
			},{
				name: "Total school engagements",
				colour: "UoL-purple"
			},{
				name: "Total pupil engagements",
				colour: "UoL-purple"
			},{
				name: "Schools in Leeds",
				colour: "UoL-purple"
			}]
		}
	}) | safe
}}



{% comp "dashboard.panel", { bg: '#370b45', fg: 'white' }%}
<h3>Number of engagements with pupils</h3>
<p>The chart below presents the number of activities that were delivered with children in Leeds schools as part of the LEEDS 2023 programme.</p>
{{ comp.oi.chart.line({ config: {
    data: viz.leeds_2023.engagements_by_week,
    width: 950,
    height: 600,
    "columns": [{
      "name": "date_decimal",
      "template": "{{ date | strptime(\"%Y-%m-%d\") | decimalYear() }}"
		}],
    series: [
      {
        title: 'Engagements (cumulative)',
        x: "date_decimal",
        y: "cumulative_pupil_engagements",
        colour: '#ffffff'
      }
    ],
    legend: {
      show: false
    },
    axis: {
      x: {
        title: {
          label: 'Date'
        },
        tick: {
          spacing: 2
        },
        min: 2022.841667,
        max:2023.955556
      },
      y: {
        grid: {
          show: true,
          'stroke-width': 0.5
        },        
        title: {
          label: "Number of engagements"
        },
        tick: { 
          spacing: 5000
        },
        max: 40000
      }
    }
  } }) | safe }}

  {% endcomp %}

{% comp "grid.autogrid", { columns: 2 } %}

{% comp "dashboard.panel", { bg: "#370b45", fg: 'white' }%}
<h3>School engagements by ward</h3>
<p>
  This map shows the number of creative engagement activities carried out with schools as part of the LEEDS 2023 programme, by ward.
  Darker colours mean more engagements were held in each ward.
  Hover over the hexagon to see the count of engagements per ward.
</p>
{{ comp.oi.map.hex_cartogram({
    config: {
		hexjson: hex.wards_leeds,
		data: viz.leeds_2023.engagements_by_ward,
    min:0,
    max:30,
    scale: 'rgb(240, 223, 244) 0%, rgb(111, 53, 136) 100%',
    "legend": {
      "position": "top",
      "items": [{
          "value": 25,
          "label": "25"
        },{
          "value": 20,
          "label": "20"
        },{
          "value": 15,
          "label": "15"
        },{
          "value": 10,
          "label": "10"
        },{
          "value": 5,
          "label": "5"
        },{
          "value": 0,
          "label": "0"
        }]
    },
		matchKey: 'ward_code',
		value: 'total_engagements',
		label: '{{ n | slice(0,3) }}',
		tooltip: '{{ n }}: <strong>{{ total_engagements }}</strong>'
	}
  }) | safe }}
{% endcomp %}

{% comp "dashboard.panel", { bg: "#370b45", fg: 'white' }%}
<h3>Pupil engagements by ward</h3>
<p>
  This map shows the number of pupils engaged with as part of the LEEDS 2023 programme, by ward.
  Darker colours mean more engagement activities were held in each ward.
  Hover over the hexagon to see the count of engagements in each ward.
</p>
{{ comp.oi.map.hex_cartogram({
    config: {
		hexjson: hex.wards_leeds,
		data: viz.leeds_2023.engagements_by_ward,
		matchKey: 'ward_code',
    scale: 'rgb(240, 223, 244) 0%, rgb(111, 53, 136) 100%',
    min:0,
    max: 2000,
    "legend": {
      "position": "top",
      "items": [{
          "value": 2500,
          "label": "2500"
        },{
          "value": 2000,
          "label": "2000"
        },{
          "value": 1500,
          "label": "1500"
        },{
          "value": 1000,
          "label": "1000"
        },{
          "value": 500,
          "label": "500"
        },{
          "value": 0,
          "label": "0"
        }]
    },
		value: 'pupil_engagements',
		label: '{{ n | slice(0,3) }}',
		tooltip: '{{ n }}: <strong>{{ pupil_engagements }}</strong>'
	}
  }) | safe }}

  {% endcomp %}
  {% endcomp %}



{% comp "dashboard.panel", { bg: "#370b45", fg: 'white' }%}
<h3>Percentage of schools engaged with in each ward</h3>
<p>
  This map shows the percentage of schools that were engaged with as part of LEEDS 2023 activities, out of the schools in each ward.
  Darker colours mean more engagement activities were held in each ward.
  Hover over the hexagon to see the percentage of schools engaged with in each ward.
</p>
{{ comp.oi.map.hex_cartogram({
    config: {
		hexjson: hex.wards_leeds,
		data: viz.leeds_2023.engagements_by_ward,
		matchKey: 'ward_code',
		value: 'percent_of_schools_in_ward_engaged',
    scale: 'rgb(240, 223, 244) 0%, rgb(111, 53, 136) 100%',
    min:30,
    max:100,
    width: 700,
    height: 700,
    "legend": {
      "position": "top",
      "items": [{
          "value": 100,
          "label": "100%"
        },{
          "value": 80,
          "label": "80%"
        },{
          "value": 60,
          "label": "60%"
        },{
          "value": 40,
          "label": "40%"
        },{
          "value": 20,
          "label": "20%",
          "colour": '#f2e7f5'
        },{
          "value": 0,
          "label": "0%",
          "colour": '#ffffff'
        }]
    },
		label: '{{ n | slice(0,3) }}',
		tooltip: '{{ n }}: <strong>{{ percent_of_schools_in_ward_engaged }}%</strong>'
	}
  }) | safe }}
  {% endcomp %}
  {% endcomp %}

  <h2 class="centred">Youth Development Projects</h2>

  {{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.youth_development_projects",
			title: "title",
      note: "note",
			value: "value",
			width: "90%",
			panels: [{
				name: "Total engagements",
				colour: "UoL-purple"
			}]
		}
	}) | safe
}}
{{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.youth_development_projects",
			title: "title",
      note: "note",
			value: "value",
			width: "30%",
			panels: [{
				name: "2022 Youth Summit",
				colour: "UoL-purple"
			},{
				name: "The WOW Barn Festival",
				colour: "UoL-purple"
			},{
				name: "Music workshops",
				colour: "UoL-purple"
			},{
				name: "Lift the Lid",
				colour: "UoL-purple"
			},{
				name: "Children's Day Reimagined",
				colour: "UoL-purple"
			},{
				name: "Grants Scheme",
				colour: "UoL-purple"
			}]
		}
	}) | safe
}}

  <div class='limitations'>
  <h3>Known Limitations & Issues</h3> 
    <ul>
      <li>This dashboard is under development and may not be accurate or up to date.</li>
    </ul>
</div>



