---
title: Data Catalogue
---

{# Set up a cycler for block colouring #}
{% set bg = cycler("#104454", "#440d54") %}

<p>
  This page catalogues the data used to build this data microsite.
  All the data is extracted from open data sources, and stored in the <a href="https://github.com/open-innovations/leeds-schools-cultural-engagement">Mapping Creative Education GitHub repository</a>.
  To obtain a copy of the data, please use the link direct to GitHub.
</p>

<h2>Datasets</h2>

<p>
  Each dataset is listed below grouped with associated datasets.
</p>

<ul class="grid dashboard" style ="grid-template-columns: repeat( 4, minmax(0, 1fr)); grid-gap: 0.5em;">

{% for catalogue in search.pages('catalogue') %}
  {% comp "dashboard.panel", { bg: bg.next(), fg: 'white' }%}
    <h3>{{catalogue.data.title}}</h3>

    <p>{{catalogue.data.description}}</p>

    <ul class="catalogue-links">

    <li>
      {{ comp.catalogue.icon_link({
        url: catalogue.data.id,
        title: "View " + catalogue.data.title + " page",
        icon: "/assets/images/icons/info.svg"
      }) | safe }}
    </li>

    <li>
        {{ comp.catalogue.download({
          url: catalogue.data.download,
          title: catalogue.data.title
      }) | safe }}
      </li>

      <li>
      {{ comp.catalogue.github_link({
        url: catalogue.data.github,
        title: catalogue.data.title
      }) | safe }}
    </li>

    </ul>

  {%- endcomp -%}
{% endfor %}
</ul>