---
title: About
---


<h2>What are we doing?</h2>

<p>
  Planning for <a href = "https://leeds2023.co.uk/">LEEDS 2023</a> evaluation has highlighted a need to understand the current levels of 
  cultural engagement in schools, and a lack of data currently available on this topic. 
</p>

<p>
  To address this, a collaborative research project funded by <a href = "https://www.ukri.org/councils/research-england/">Research 
  England</a>, will be delivered by the <a href = "https://eps.leeds.ac.uk/mechanical-engineering/staff/344/dr-briony-thomas">University 
  of Leeds</a> working in partnership with <a href = "https://www.leeds.gov.uk/">Leeds City Council</a>, 
  <a href = "https://leeds2023.co.uk/">LEEDS 2023</a>, <a href = "https://open-innovations.org/">Open Innovations</a>, and 
   <a href = "https://www.theaudienceagency.org/">The Audience Agency</a>.   
</p>

<p> 
  This project aims to support evidence-based policy making through the creation of a prototype open data resource that maps 
  cultural engagement in schools across the city. We began work in January 2023, and we will be making the open data resources 
  available on this site during June and July of this year.  
</p>

<h2>How are we going this?</h2>

<p>
  During this project, we are engaging with schools and the wider cultural community in several ways:  

<ul>
  <li>Facilitated focus groups with Leeds based cultural organisations, exploring how they work with schools</li>
  <li>Sharing a Google Jamboard with cultural organisations who were unable to attend the focus groups to help enable them 
  to share their reflections,</li>
  <li>A survey which will be sent to all schools across Leeds. This looks to understand more about how schools engage with the 
  arts and culture, both inside and outside of their curriculum.</li>
</ul>
</p>

<p>
  We will share the outputs from this research on this page soon. 
</p>

<h2>Can you help us?</h2>

<p> 
  <strong>Do you work for a Leeds based organisation who might be able contribute to our prize draw to encourage 
  participation?</strong> 
</p>

<p>
  Feedback from schools has suggested that incentivising survey participation will increase the response rate from schools. Potential 
  incentives might include an online/in-school workshop, Q&A session, virtual rehearsal room access, backstage tours, ticket 
  offer, etc. 
</p>

<p>
  If you can offer an incentive, please email <a href = "mailto: creativecity@leeds.gov.uk">creativecity@leeds.gov.uk</a> by 
  Friday 31st March 2023. 
</p>

<h2>Want to learn more?</h2> 

<p>
  For more information about this project please contact Michelle at 
  <a href = "mailto: michelle.brook@open-innovations.org">michelle.brook@open-innovations.org</a>.
</p>
 