---
title: About
---


<h2>What are we doing?</h2>

<p>
  Collaborative activities within <a href="https://artformsleeds.co.uk/networks/leeds-cultural-education-partnership/">Leeds Cultural Education Partnership</a> have highlighted a need for organisations to understand how schools in Leeds are engaging with arts and culture. There is a lack of data available to understand the cultural offering and engagement of schools and how schools can seek support to build on their arts and cultural offering for young people.
</p>

<p>
  To address this, a collaborative research project funded by <a href="https://www.ukri.org/councils/research-england/">Research England</a>, will be delivered by the <a href="https://eps.leeds.ac.uk/mechanical-engineering/staff/344/dr-briony-thomas">University of Leeds</a> working in partnership with <a href="https://www.leeds.gov.uk/">Leeds City Council</a>, <a href="https://leeds2023.co.uk/">LEEDS 2023</a>, <a href="https://open-innovations.org/">Open Innovations</a>, and <a href="https://www.theaudienceagency.org/">The Audience Agency</a>. We are focusing our enquiry on three areas: access, inclusion, and progression in cultural education in schools in Leeds. 
</p>

<p> 
  This project aims to support evidence-based policy making through the creation of a prototype open data resource that maps cultural engagement in schools across the city. We began work in December 2022, and we will be making the open data resources available on this site during summer 2023. 
</p>

<h2>How are we doing this?</h2>

<p>
  For the project to address the needs of the city’s cultural and education sectors, we are engaging with schools and the wider cultural community in several ways:
</p>

<ul>
  <li>Focus group discussions during city-wide cultural sector network meetings to inform the survey requirements and gain insight to the value this project could provide to the cultural and education sectors.</li>
  <li>Sharing a Google Jamboard with cultural organisations who were unable to attend the focus groups to help enable them to share their reflections.</li>
  <li>Cross-sector collaboration with project partners to design a survey, informed by the focus groups and piloted with school partners, with revisions based on partner feedback.</li>
  <li>A survey will be shared with  all schools across Leeds. This will explore how schools engage with the arts and culture, both inside and outside of their curriculum.</li>
</ul>
</p>

<h2>Why are we doing this?</h2>

<p>
  The value of cultural engagement across all areas of life is widely recognised. Economically, it supports the development and retention of skills crucial to the continued expansion of the Creative Industries, one of the most profitable and fastest growing sectors in the UK. Societally, engagement with arts and culture improves the sense of belonging, and encourages participation and building of neighbourhoods that thrive. It also promotes mental and physical wellbeing, positively impacting the health of individuals, communities, and nations. 
</p>

<p>
  Mapping and evaluating cultural engagement data across schools in Leeds has the potential to highlight areas in need of governmental support to ensure equality in educational provisions. It can also highlight best practices and areas of excellence in the city. Through this work, our research facilitates evidence-based policymaking at both local and national levels.
</p>

<h2>Want to learn more?</h2> 

<p>
  For more information about this project please contact Dr Briony Thomas at 
  <a href = "mailto: b.g.thomas@leeds.ac.uk">b.g.thomas@leeds.ac.uk</a>.
</p>
 