---
---

{# commenting out 
<p>
{{ metas.description }}
</p>

#}

<p>Planning for <a href="https://leeds2023.co.uk/">LEEDS 2023</a> evaluation has highlighted a need to understand the current levels of cultural engagement in schools, and a lack of data currently available on this topic. To address this, a collaborative research project funded by <a href = "https://www.ukri.org/councils/research-england/">Research England</a>, will be delivered by the <a href = "https://eps.leeds.ac.uk/mechanical-engineering/staff/344/dr-briony-thomas">University of Leeds</a> working in partnership with <a href = "https://www.leeds.gov.uk/">Leeds City Council</a>, <a href = "https://leeds2023.co.uk/">LEEDS 2023</a>, <a href = "https://open-innovations.org/">Open Innovations</a>, and <a href = "https://www.theaudienceagency.org/">The Audience Agency</a>.</p>
<p><a href="/about/">Read more...</a></p>

<h2>Reports</h2>
<ul class="grid">
	<li><a href="/reports/schools/" class="c1-bg">
		<h2>Schools</h2>
		<p>A breakdown of schools in Leeds.</p>
	</a></li>
</ul>