---
---

{# commenting out 
<p>
{{ metas.description }}
</p>

#}

<p>
  Planning for <a href="https://leeds2023.co.uk/">LEEDS 2023</a> evaluation has highlighted a need to understand the current levels of 
  cultural engagement in schools, and a lack of data currently available on this topic. <a href="/about/">Find out more</a>.
</p>

<h2>Reports</h2>
<ul class="grid">
	<li><a href="/reports/schools/" class="c1-bg">
		<h2>Schools</h2>
		<p>A breakdown of schools in Leeds.</p>
	</a></li>
</ul>