---
---

{# commenting out 
<p>
{{ metas.description }}
</p>

#}

<p>Cultural engagement enriches the lives of individuals, local communities and entire nations. Schools provide a common environment for ensuring provision of high-value cultural education for children and young people from across different backgrounds. However, there is a lack of data available to understand the cultural offering and engagement of schools, and how schools can seek support to build on their arts and cultural offering for young people.</p> 
<p>Collaborative activities within Leeds Cultural Education Partnership has highlighted a need for organisations to understand how schools in Leeds are engaging with arts and culture. In particular, there is a need to understand the current levels of cultural engagement in schools to inform Leeds City Council’s priority for Culture, particularly for the legacy planning of the LEEDS 2023 Year of Culture, and also the current Cultural Investment priorities for Children, Families and Young People.</p>
<p>To address this, a collaborative research project funded by <a href = "https://www.ukri.org/councils/research-england/">Research England</a>, is being led by the <a href = "https://eps.leeds.ac.uk/mechanical-engineering/staff/344/dr-briony-thomas">University of Leeds</a> working in partnership with <a href = "https://www.leeds.gov.uk/">Leeds City Council</a>, <a href = "https://leeds2023.co.uk/">LEEDS 2023</a>, <a href = "https://open-innovations.org/">Open Innovations</a>, and <a href = "https://www.theaudienceagency.org/">The Audience Agency</a>.</p>
<p><a href="/about/">Read more about the research programme here</a>, or you can explore the data below.</p>

<h2>Explore the data</h2>
<ul class="grid">
	<li><a href="/reports/schools/" class="l23-light-blue">
		<h2>Schools</h2>
		<p>A breakdown of schools in Leeds and their creative engagement.</p>
	</a></li>
	<li><a href="/reports/survey/pilot" class="l23-green">
		<h2>Survey Responses</h2>
		<p>A breakdown of responses to the research survey.</p>
	</a></li>
	<li><a href="/reports/organisations/" class="l23-light-purple">
		<h2>Organisations</h2>
		<p>Cultural organisations engaging with schools in Leeds.</p>
	</a></li>
</ul>