---
title: Prize Draw Terms and Conditions
---

{# commenting out 
<p>
{{ metas.description }}
</p>
#}

<p> We have 10 prizes on offer in our prize draw for participating schools: 
</p>

<ul>
  <li>A <a href="https://museumsandgalleries.leeds.gov.uk/leeds-art-gallery/learn-at-leeds-art-gallery/">free school workshop</a> with Leeds Art Gallery 
  (either online or in-person)</li> 
  <li>Two free tickets to Leeds International Film Festival offered by <a href="https://www.leedsfilm.com">Leeds Young Film</a></li>
  <li>A free teacher CPD place at the <a href="https://www.leedsforlearning.co.uk/Event/170105">‘Sketchbooks in School</a> session on Tuesday 13th June 
  2023 from 13:30-16:00 at Leeds Art Gallery, offered by <a href"https://artformsleeds.co.uk/">Artforms</a>.</li>
  <li>A free school workshop with <a href="https://www.sumankaur.co.uk/">Suman Kaur</a>, a Leeds-based Royal Scholar and winner of the BBC Big Painting 
  Challenge 2017.</li>
  <li>A free school dance workshop with the <a href="https://www.nscd.ac.uk/">Northern School of Contemporary Dance</a></li>
  <li>Two free tickets to the 2023/24 International Piano Series, which will run from October 2023 to March 2024, offered by Leeds Piano Competition. 
  The series features some of the biggest global stars of the piano world, and information on the 2022/23 series can be found on the 
  <a href"https://www.leedspiano.com/events/tag/leeds-international-piano-series/">Leeds Piano Competition</a> website.</li> 
  <li>A free <a href"https://leedsheritagetheatres.com/take-part/teachers-educators-new/secondary-schools/">careers workshop</a> with Leeds Heritage 
  Theatres. Choose from either the ‘World of Work’ workshop for Yr. 7-9 or one session from a suite of careers workshops for Yrs. 10-13. </li> 
  <li>National Book Tokens for three schools of £150 each, offered by the <a href"https://creativlearnlab.com/">Creative Learning Lab</a> at the 
  University of Leeds</li>

</ul>

<h2>Free Prize Draw Terms and Conditions</h2>  

<ol>
  <li>The prize draw is organised by the University of Leeds (the University), in collaboration with Leeds City Council.</li> 
  <li>By submitting an entry, you are agreeing to be bound by these Terms and Conditions. If you have any questions, please contact <a href="mailto:creativecity@leeds.gov.uk">creativecity@leeds.gov.uk</a>.</li>
</ol>

<h2>Eligibility</h2>

<ol start="3">
  <li>The prize draw is open to all schools in Leeds eligible who complete the ‘Creative Education in Leeds Survey’ (the Survey).</li>
  <li>Only one entry per school is permitted. Where duplicate responses are received, we will treat this as a single entry.</li>
  <li>In entering, you confirm that you are eligible to do so on behalf of your school and eligible to claim any prize your school may win. The University may require you to provide proof that you are eligible to enter the prize draw.</li>
</ol>

<h2>How to enter</h2>

<ol start ="6">
  <li>The prize draw is free to enter.</li>
  <li>To enter the prize draw on behalf of your school, simply complete the Survey.</li>
  <li>Entries will be accepted until the stated closing date of the Survey.</li>
  <li>The University will not accept responsibility for entries that are lost, regardless of cause, including, for example, as a result of any equipment failure, technical malfunction, systems, network, server, computer hardware or software failure of any kind.</li>
  <li>The University will not accept responsibility if contact details provided are incomplete or inaccurate.</li>
  <li>The University reserves the right to refuse entry or refuse to award the prize to anyone in breach of these terms and conditions.</li>
</ol>
