---
title: Prize Draw Terms and Conditions
---

{# commenting out 
<p>
{{ metas.description }}
</p>
#}

<p> We have 10 prizes on offer in our prize draw for participating schools: 
</p>

<ul>
  <li>A <a href="https://museumsandgalleries.leeds.gov.uk/leeds-art-gallery/learn-at-leeds-art-gallery/">free school workshop</a> with Leeds Art Gallery (either online or in-person)</li> 
  <li>Two free tickets to Leeds International Film Festival offered by <a href="https://www.leedsfilm.com">Leeds Young Film</a></li>
  <li>A free teacher CPD place at the <a href=https://www.leedsforlearning.co.uk/Event/170105">‘Sketchbooks in School’</a> session on Tuesday 13th June 2023 from 13:30-16:00 at Leeds Art Gallery, offered by 
  <a href"https://artformsleeds.co.uk/">Artforms</a>.</li>
  <li>A free school workshop with <a href="https://www.sumankaur.co.uk/">Suman Kaur</a>, a Leeds-based Royal Scholar and winner of the BBC Big Painting Challenge 2017.</li>
  <li>A free school dance workshop with the <a href="https://www.nscd.ac.uk/">Northern School of Contemporary Dance</a></li>
  <li>Two free tickets to the 2023/24 International Piano Series, which will run from October 2023 to March 2024, offered by Leeds Piano Competition. 
  The series features some of the biggest global stars of the piano world. Information on the 2022/23 series is here: https://www.leedspiano.com/events/tag/leeds-international-piano-series/  
  <li>A free careers workshop with Leeds Heritage Theatres. Choose from either the ‘World of Work’ workshop for Yr. 7-9 or one session from a suite of careers workshops for Yrs. 10-13. Further details are available from: https://leedsheritagetheatres.com/take-part/teachers-educators-new/secondary-schools/</li> 
  <li>National Book Tokens for three schools of £150 each, offered by the <a href"https://creativlearnlab.com/">Creative Learning Lab</a> at the University of Leeds</li>

<h2>Free Prize Draw Terms and Conditions</h2>  

<ol>
  <li>The prize draw is organised by the University of Leeds (the University), in collaboration with Leeds City Council.</li> 
  <li>By submitting an entry, you are agreeing to be bound by these Terms and Conditions. If you have any questions, please contact creativecity@leeds.gov.uk.</li>
</ol>

