---
title: Prize Draw Terms and Conditions
---

{# commenting out 
<p>
{{ metas.description }}
</p>
#}

<h2>Free Prize Draw Terms and Conditions</h2>  

<ol>
  <li>The prize draw is organised by the University of Leeds (the University), in collaboration with Leeds City Council.</li> 
  <li>By submitting an entry, you are agreeing to be bound by these Terms and Conditions. If you have any questions, please contact creativecity@leeds.gov.uk.</li>
</ol>
