---
css: | 
  .table-of-contents {
    padding:2em;
  }

  .table-of-contents ul {
    padding-top:1em;
  }

  .table-of-contents {
    border-style: dashed;
    border-width: 1px;
    border-color: #bbbbbb;
  }
---


<nav class='table-of-contents'>
  <h2>{{ title or 'Contents' }}</h2>
  <ul>
    {% for href, title in links %}
      <li><a href="{{ href }}">{{ title }}</a></li>  
    {% endfor %}
  </ul>
</nav>