---
css: |
  .data-banner {
    padding: 1rem;
    text-align: center;
    background: #125164;
    color: white;
    font-weight:bold;
    & a {
      text-decoration: underline;
      color: #b2c929;
    }
  }
---
<div class="data-banner">
Interested in the data? <a href="https://culturallearningleeds.com/catalogue">Take me straight to the Data Catalogue</a>
</div>