name: Deploy live site

'on':
  workflow_dispatch: {}
  # schedule:
  #   # * is a special character in YAML so you have to quote this string
  #   - cron:  '45 23 * * *'
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - '_config.ts'
      - 'deno.json'
      - 'import_map.json'
      - '.github/workflows/deploy-via-ssh.yml'

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    env:
      DENO_ENV: live

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - shell: bash
        run: deno task deploy
        env:
          SSHHOST: ${{ secrets.SSHHOST }}
          SSHUSER: ${{ secrets.SSHUSER }}
          SSHPASS: ${{ secrets.SSHPASS }}
