	<footer>
		<div class="holder padded">
			{{ footer | safe }}
				<ul class="organisations supporter" style="grid-template-columns:repeat(5,1fr); padding-top:2em;">
					<li><a href="https://leeds33.com/"><img src="/assets/images/leeds33.svg" inline></a></li>
					<li><a href="https://www.leeds.gov.uk/"><img src="/assets/images/lcc.svg" inline></a></li>
					<li><a href="https://leeds2023.co.uk/"><img src="/assets/images/leeds2023.svg" inline></li></a>
					<li><a href="https://open-innovations.org/"><img src="/assets/images/oi.svg" inline></a></li>
					<li><a href="https://www.leeds.ac.uk/"><img src="/assets/images/uol.svg" inline></a></li>
				</ul>
				<h3 style="padding-top:0px!important;">Supported by:</h3>
				<ul class="organisations supporter" style="grid-template-columns:repeat(5,1fr);">
					<li><a href="https://www.ukri.org/"><img src="/assets/images/ukri.svg" inline></a></li>
				</ul>
				<p>Under the Policy Support funding stream.</p>
			
				<p>Website and visualisations created by <a href="https://open-innovations.org/">Open Innovations</a> (<a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>)</p>
		</div>
	</footer>
